/* Thanks To uri#0002 For This Code, and to Square#3880 for helping me make it better */
.panels-j1Uci_ {
	contain: none;
}

.container__37e49:last-child {
	position: relative;
	overflow: visible;
}

.container__37e49:last-child > div:last-child {
	width: 35px;
	height: 32px;
	background-color: transparent !important;
	border-radius: 5px !important;
	margin: 0;
	padding: 0 0 25px 0;
	position: absolute;
	bottom: 14px;
	right: -6px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	transition: background-color 200ms;
	z-index: 3;
	box-sizing: border-box;
}

.container__37e49:last-child:not(:hover) > div:last-child > :nth-child(1) {
	opacity: 0;
}

.container__37e49:last-child:not(:hover) > div:last-child > :nth-child(2) {
	opacity: 0;
}

.container__37e49:last-child:hover > div:last-child:hover {
	height: 95px;
	width: 50px;
	transition: 500ms ease-in-out;
}

.container__37e49:last-child:hover > div:last-child:before {
	opacity: 0.5;
}

.container__37e49:last-child > div:last-child > div * {
	left: 0;
	display: none;
}

.container__37e49:last-child:hover > div:last-child:hover > div * {
	display: block;
}

/* Thanks To uri#0002 For This Code, and to Square#3880 for helping me make it better */