/** 
 * @name DeadPool
 * @author Shiz
 * @version ersion auto updates
 * @description DeadPool theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://rabbisalt4.github.io/Testing-Discord/shiz.html
 * @website https://rabbisalt4.github.io/Testing-Discord/
 * @patreon https://rabbisalt4.github.io/Testing-Discord/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://rabbisalt4.github.io/Testing-Discord/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/Yes.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
  --Main-Colour: rgb(243, 23, 23);
  --Background-Colour: rgb(17, 2, 2);
  --Secondary-Background-Colour: rgba(0, 0, 0, 0.301);
  --Secondary-Main-Colour: rgba(255,0,0,.5);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(255,0,0,0);
  --Notification-Colour: rgba(255,0,0,1);
  --Chat-Input-Background: rgba(243, 20, 20, 0.103);
  --Chat-Input-Colour: rgb(46, 230, 243) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/yc0CUSi.jpg);
  --Settings-Background: url(https://i.imgur.com/WqCwqU3.jpg);
  --Callout-Background: url(https://i.imgur.com/w5oZvmw.jpg);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " DeadPool";
  --Chat-Font-Used: 'Aladin', cursive;
  --Chat-Font-Size: 18px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: url(https://i.imgur.com/ekVjlCo.jpg);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: url(https://i.imgur.com/QNAZxix.jpg);
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: rgb(250, 14, 14);
  --Timestamp-Colour: rgb(6, 248, 216);
  --Guild-Columns: 2;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 35%;
  --Background-Darkness: 0.2;
}
/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
  width: 35px !important;
  height: 35px !important;
  background-size: cover;
}
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
.member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}
/* Removing the bottom border in member list*/
.member-3W1lQa {border-bottom: none;
}
.groupStart-23k01U {
    box-shadow: none;
}

/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
}
/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}
/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}

.theme-dark .item-1Yvehc {
  background: rgb(19, 18, 18) !important;
  background-color: rgba(248, 21, 21, 0.959) !important;
  color: black!important;
}

.theme-dark .item-1Yvehc:hover {
  background: rgb(253, 4, 4) !important;
  background-color: rgb(14, 14, 17) !important;
  color: rgb(250, 8, 8)!important;
}

.div.option-popout.small-popout-box, div.context-menu, .context-menu .context-menu:not(.item-subMenu), .contextMenu-HLZMGh, .contextMenu-HLZMGh.disabled-dlOjhg .checkbox {
  background-color: rgb(26, 18, 18) !important;
  border: 2px solid rgb(17, 10, 10) !important;
}
.theme-dark .scrollbar-3dvm_9 {
 background-color: var(--Chat-Input-Background)!important;
}
