/**
 * @name Frames Per Second
 * @author Shiz
 * @version ersion auto updates
 * @description FPS "Frames Per Second" theme made using NFLD99 core
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
*/
/* Source Code */
@import url(https://nfld99.com/Dev_Build.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
:root {
  --Main-Colour: rgb(245, 8, 233);
  --Background-Colour: rgba(15,30,63,1);
  --Secondary-Background-Colour: rgba(15,30,63,.3);
  --Secondary-Main-Colour: rgb(148, 9, 241);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(252,123,246,0);
  --Notification-Colour: rgb(252, 5, 239);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/1Nl1EhQ.png);
  --Settings-Background: url(https://i.imgur.com/m1GXAWk.png);
  --Callout-Background: url(https://i.imgur.com/l3L9x3f.png);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " FPS";
  --Chat-Font-Used: 'Arima Madurai', cursive;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: url(https://i.imgur.com/BpUMMQi.png);
  --File-Updated-202-1-27: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: rgb(252, 5, 239);
  --Guild-Columns: 1;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 45%;
  --Background-Darkness: 0.4;
}
/* Tweak to the message bar */
.scrollableContainer-2NUZem{
  border-bottom-left-radius: 95px;
  border-top-right-radius: 95px;
}
/* Collapsible Member list */
.membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
    transition: height .6s;
}

.membersWrap-2h-GB4:hover > div .member-3-YXUe{
  height: 42px;
    transition: height .6s;
}

/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
  width: 35px !important;
  height: 35px !important;
  background-size: cover;
}
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
.member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}
/* Removing the bottom border in member list*/
.member-3W1lQa {border-bottom: none;
}
.groupStart-23k01U {
    box-shadow: none;
}

/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
}


/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}
.contentSelectedText-3wUhMi, .content-3at_AU, .contentSelectedVoice-1WDIBM, .channel-2QD9_O.selected-1HYmZZ a {
  background-color: var(--main-colour);
  border: 2px solid silver;
  border-bottom: 2px solid black;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-width: 2.5px;
}
.channel-2QD9_O.selected-1HYmZZ a {
border: 0px;
}
/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}
