/** 
 * @name Girl_In_Red
 * @author Shiz
 * @version ersion auto updates
 * @description Girl In Red theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://rabbisalt4.github.io/Testing-Discord/shiz.html
 * @website https://rabbisalt4.github.io/Testing-Discord/
 * @patreon https://rabbisalt4.github.io/Testing-Discord/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://rabbisalt4.github.io/Testing-Discord/paypal
 * @authorId 483413721876529174
 * @invite 9ArHYa9
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/No.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
  --Main-Colour: rgba(255, 0, 0, 0.76);
  --Background-Colour: rgba(0, 0, 0, 0.856);
  --Secondary-Background-Colour: rgba(0, 0, 0, 0.185);
  --Secondary-Main-Colour: rgba(255,0,0,.5);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(255,0,0,0);
  --Notification-Colour: rgba(255,0,0,1);
  --Chat-Input-Background: rgba(248, 17, 17, 0.116);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/nquy0Ha.jpg);
  --Settings-Background: url(https://i.imgur.com/jIDxmzk.jpg?1);
  --Callout-Background: url(https://i.imgur.com/jIDxmzk.jpg?1);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " Girl In Red";
  --Chat-Font-Used:'Skranji', cursive ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: url(https://i.imgur.com/44rmTkZ.jpg);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: url(https://i.imgur.com/44rmTkZ.jpg);
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 1;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 45%;
  --Background-Darkness: 0.2;
}
.theme-dark .dividerEnabled-2TTlcf{
  display: none;
}
/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
  width: 35px !important;
  height: 35px !important;
  background-size: cover;
}
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
.member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}
/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}

/* Small Tweak to message bar */
.scrollableContainer-2NUZem{
    border-bottom-left-radius: 95px;
    border-top-right-radius: 95px;
  }
  .emojiButton-pET4wH{
    margin-right: 20px;
    margin-top: 3px
  }
  

  /* Message area over sized border */
  
  .textRow-19NEd_ {
      display: block;
      font-size: 12px;
      line-height: 16px;
  }
  .theme-dark .channelTextArea-rNsIhG {
      border-top: 0px solid rgb(245, 6, 205);
  }
.theme-dark .scrollbar-3dvm_9 {
  background-color: rgba(88, 2, 2, 0.582) !important;
 }
 .background-2OVjk_,.icon-sxakjD,.foreground-2W-aJk{
  opacity: 1;
}
 
