/** 
 * @name Harry-Potter
 * @author Shiz
 * @version ersion auto updates
 * @description Harry-Potter theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://rabbisalt4.github.io/Testing-Discord/shiz.html
 * @website https://rabbisalt4.github.io/Testing-Discord/
 * @patreon https://rabbisalt4.github.io/Testing-Discord/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://rabbisalt4.github.io/Testing-Discord/paypal
 * @authorId 483413721876529174
 * @invite 9ArHYa9
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
    --Main-Colour: rgb(34, 236, 250);
    --Background-Colour: rgba(0,0,0,1);
    --Secondary-Background-Colour: rgba(0,0,0,.3);
    --Secondary-Main-Colour: rgba(34, 236, 250);
    --Text-Shadow-Colour: rgba(0,0,0,.65);
    --Scroller-Colour: rgba(75, 245, 32, 0);
    --Notification-Colour: rgb(252, 56, 242);
    --Chat-Input-Background: rgba(0,0,0,0);
    --Chat-Input-Colour: var(--Main-Colour) ;
    --Unread-Message-1: var(--Main-Colour) ;
    --Unread-Message-2: var(--Background-Colour) ;
    --Chat-Background: url(https://i.imgur.com/gXeGE80.jpg);
    --Settings-Background: url(https://i.imgur.com/FuCBooM.png?1);
    --Callout-Background: url(https://i.imgur.com/nijDwCU.jpg);
    --Title-Background: var(--Background-Colour);
    --Theme-Variant: " Harry-Potter";
    --Chat-Font-Used: 'Bubblegum Sans', cursive;
    --Chat-Font-Size: 20px;
    --Unread-Message-Speed: 1.5s;
    --Popout-Main-Colour: rgb(46, 243, 56);
    --Popout-Background: url(https://i.imgur.com/G1FDYgO.jpg);
    --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
    --Emote-Popout-Background: url(https://i.imgur.com/7eEx7CY.jpg);
    --File-Updated-2020-5-24: ;
    --Settings-Dock-Colour: var(--Main-Colour);
    --Timestamp-Colour: rgb(248, 123, 129);
    --Guild-Columns: 1;
    --ServerFolders-Guild-Columns: var(--Guild-Columns);
    --Chat-Avatar-Border-Radius: 40%;
    --Background-Darkness: 0.5;
  }
  /* Small Tweak to message bar */
.scrollableContainer-2NUZem{
    border-bottom-left-radius: 95px;
    border-top-right-radius: 95px;
  }
  .emojiButton-pET4wH{
    margin-right: 20px;
    margin-top: 3px
  }
  
 
  /* Message area over sized border */
  
  .textRow-19NEd_ {
      display: block;
      font-size: 12px;
      line-height: 16px;
  }
  .theme-dark .channelTextArea-rNsIhG {
      border-top: 0px solid rgb(245, 6, 205);
  }
  /* Removing the bottom border in member list*/
.member-3W1lQa {border-bottom: none;
}
.groupStart-23k01U {
    box-shadow: none;
}

/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
}
  /* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
    width: 35px !important;
    height: 35px !important;
    background-size: cover;
  }
  /* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
  .member-3W1lQa .avatarWrapper-3B0ndJ {
    width: 35px!important;
    height: 35px!important;
  }
  .theme-dark .headerCozyMeta-rdohGq::after {
    content: '';
    position: absolute;
    left: -27px;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(55, 150, 167, 0.4);
}
  .containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA { 
      right:77px; 
}
    
/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}

   /* Rainbow Message Box*/
   .theme-dark .inner-zqa7da:focus-within {animation: CLog 2s infinite linear }
    /* Memberlist background */
.theme-dark .members-1998pB{
  background:url(https://i.imgur.com/ojSMORF.jpg?1) 50% 50%/cover;
  }
  /* Home Icon Pic*/
  a.button-OhfaWu.wrapper-1BJsBx{
    background: url(https://i.imgur.com/7eEx7CY.jpg) 50% 50%/cover;
   }
   
   .homeIcon-tEMBK1{
    display: none;
   }

  /*Borders and Message Boxes*/
  .da-app .inner-zqa7da {
    border: 1px solid rgb(55, 163, 167);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #37a0a7;
  }
  
  .contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM, .channel-2QD9_O.selected-1HYmZZ a {
      background-color: var(--color-main);
      border: 1px solid rgb(55, 167, 167);
      border-bottom-color: #4ad2d7;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-width: 2.5px;
  }
  .theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
      background-color: var(--color-main);
      border: 1px solid rgb(55, 163, 167);
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-width: 2.5px;
      height: 40px;
      width: 0px;
  }
  /* connected voice area */
  .container-1UB9sr {
    background-color: var(--color-main);
    border: 1px solid rgb(55, 154, 167);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  /* search button at the top */
  .theme-dark .search .search-bar {
      background-color: var(--color-main);
      border: 1px solid rgb(55, 167, 167);
  }
  
  
  /* guild add button */
  .theme-dark .guildsAdd-21_IdK {
      background: var(--color-main);
      border-color: rgb(55, 163, 167);
      color: rgb(55, 167, 167);
  }
  /* settings button normal and hover of categories */

  .theme-dark .member-3W1lQa:hover .content-OzHfo4 {
  background-color: rgba(25, 109, 112, 0.63);
     border: 1px solid #37a0a7;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
    width: 0px;
  }
  .containerDefault-3GGEv_,.ContainerDefult-1ZnADq {
    border: 1px var(--Secondary-Main-Colour) solid;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 200ms;
  }

/* sending message area adding a border */


.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM, .channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--color-main);
    border: 1px solid rgb(55, 154, 167);
    border-bottom-color: #4aced7;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-width: 2.5px;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: var(--color-main);
    border: 1px solid rgb(55, 163, 167);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-width: 2.5px;
    height: 40px;
    width: 0px;
}
/* connected voice area */
.container-1UB9sr {
	background-color: var(--color-main);
	border: 1px solid rgb(55, 160, 167);
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* search button at the top */
.theme-dark .search .search-bar {
    background-color: var(--color-main);
    border: 1px solid rgb(55, 167, 167);
}


/* guild add button */
.theme-dark .guildsAdd-21_IdK {
    background: var(--color-main);
    border-color: rgb(55, 160, 167);
    color: rgb(55, 163, 167);
}

/* makes hover effect on some areas from default discord */
.scrollerFade-1Ijw5y .scroller-2FKFPG:hover::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y .scroller-2FKFPG:hover::-webkit-scrollbar-track, .scrollerFade-1Ijw5y:hover::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y:hover::-webkit-scrollbar-track {
    visibility: visible!important;
}

/* chat border and backgrounds many changes and positioning */

.theme-dark .timestampCozy-2hLAPV {
	padding-left: 5px;
}
.theme-dark .headerCozyMeta-rdohGq {
	position: relative;
	right: 70px;
}

.contentCozy-3XX413, .theme-dark .headerCozyMeta-rdohGq {
    margin-left: 5px;
}

.groupStart-23k01U {
    box-shadow: none;
}

/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
}

.messageCompact-kQa7ES, .messageCozy-2JPAPA {
	background: rgba(8, 56, 62, 0.3);
	border: 1px solid rgba(55, 167, 167, 0.4);
	margin-right: 7px;
	margin-left: 65px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
}
/* public button discord */
#bd-pub-button, .theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
	background-color: var(--color-main);
}
/* guild button */
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4[style*="background-color: rgb(47, 49, 54);"] {
	background-color: var(--color-main)!important;
	box-shadow: rgb(25, 78, 85) 0px 0px 20px;
}

/* invite group */
.theme-dark .wrapper-35wsBm {
    background: rgba(2, 40, 45, 0.8);
    border-color: rgb(27, 93, 95);
}


/* embed urls */
.theme-dark .embedInner-1-fpTo {
    background-color: rgba(19, 82, 93, 0.3);
    border-color: rgb(28, 131, 144);
}
.theme-dark .embedPill-1Zntps {
    background-color: rgb(28, 101, 144);
}

/* divider in chat */
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
    border-color: #37a0a7;
}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: rgb(55, 150, 167);
}

.theme-dark .hasMore-3e72_v button {
    background: rgba(2, 22, 45, 0.9);
    border: 1px solid #3796a7;
}
.hasMore-3e72_v button {
    color: #379aa7;
}
