/** 
 * @name Harry-Potter
 * @author Shiz
 * @version ersion auto updates
 * @description Harry-Potter theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
    --Main-Colour: rgb(34, 236, 250);
    --Background-Colour: rgba(0,0,0,1);
    --Secondary-Background-Colour: rgba(0,0,0,.3);
    --Secondary-Main-Colour: rgba(34, 236, 250);
    --Text-Shadow-Colour: rgba(0,0,0,.65);
    --Scroller-Colour: rgba(75, 245, 32, 0);
    --Notification-Colour: rgb(252, 56, 242);
    --Chat-Input-Background: rgba(0,0,0,0);
    --Chat-Input-Colour: var(--Main-Colour) ;
    --Unread-Message-1: var(--Main-Colour) ;
    --Unread-Message-2: var(--Background-Colour) ;
    --Chat-Background: url(https://i.imgur.com/gXeGE80.jpg);
    --Settings-Background: url(https://i.imgur.com/FuCBooM.png?1);
    --Callout-Background: url(https://i.imgur.com/nijDwCU.jpg);
    --Title-Background: var(--Background-Colour);
    --Theme-Variant: " Harry-Potter";
    --Chat-Font-Used: 'Bubblegum Sans', cursive;
    --Chat-Font-Size: 20px;
    --Unread-Message-Speed: 1.5s;
    --Popout-Main-Colour: rgb(46, 243, 56);
    --Popout-Background: url(https://i.imgur.com/G1FDYgO.jpg);
    --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
    --Emote-Popout-Background: url(https://i.imgur.com/7eEx7CY.jpg);
    --File-Updated-2020-5-24: ;
    --Settings-Dock-Colour: var(--Main-Colour);
    --Timestamp-Colour: rgb(248, 123, 129);
    --Guild-Columns: 1;
    --ServerFolders-Guild-Columns: var(--Guild-Columns);
    --Chat-Avatar-Border-Radius: 40%;
    --Background-Darkness: 0.5;
  }
  /*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}
/* To remove the divider line between messages and Message box extra border */
.groupStart-23k01U {
  box-shadow: none;
}
.textRow-19NEd_ {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
.theme-dark .channelTextArea-rNsIhG {
  border-top: 0px solid hsla(0, 0%, 100%, .1);
}
  /* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
    width: 35px !important;
    height: 35px !important;
    background-size: cover;
  }
  /* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
  .member-3W1lQa .avatarWrapper-3B0ndJ {
    width: 35px!important;
    height: 35px!important;
  }
  .theme-dark .headerCozyMeta-rdohGq::after {
    content: '';
    position: absolute;
    left: -27px;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(55, 150, 167, 0.4);
}
  .containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA { 
      right:77px; 
}
   /* Rainbow Message Box*/
   .theme-dark .inner-zqa7da:focus-within {animation: CLog 2s infinite linear }
    /* Memberlist background */
.theme-dark .members-1998pB{
  background:url(https://i.imgur.com/ojSMORF.jpg?1) 50% 50%/cover;
  }

/* chat border and backgrounds many changes and positioning */
.theme-dark .timestampCozy-2hLAPV {
	padding-left: 5px;
}
.theme-dark .headerCozyMeta-rdohGq {
	position: relative;
	right: 70px;
}
.contentCozy-3XX413, .theme-dark .headerCozyMeta-rdohGq {
    margin-left: 5px;
}
.groupStart-23k01U {
    box-shadow: none;
}
/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
}
.messageCompact-kQa7ES, .messageCozy-2JPAPA {
	background: rgba(8, 56, 62, 0.3);
	border: 1px solid rgba(55, 167, 167, 0.4);
	margin-right: 7px;
	margin-left: 65px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
}
/* divider in chat */
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
    border-color: #37a0a7;
}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: rgb(55, 150, 167);
}

.theme-dark .hasMore-3e72_v button {
    background: rgba(2, 22, 45, 0.9);
    border: 1px solid #3796a7;
}
.hasMore-3e72_v button {
    color: #379aa7;
}
/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}
/* New stuff Here */

/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;	background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
    }
  
  .homeIcon-tEMBK1 > path{
    fill: transparent!important;
    }
  
  /*Removing Nitro gift button*/
  .button-3AYNKb{
  display: none;
  }
  
  
  
  /* Collapsible Member list */
  .membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
  transition: height .6s;
  }
   /* Unblur Folders*/
  .closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
  filter: blur(0px);
  }
  .membersWrap-2h-GB4:hover > div .member-3-YXUe{
   height: 42px;
   transition: height .6s;
  }
   /* Change square avatars to circle*/
  .avatar-1BDn8e.clickable-1bVtEA{
  border: 2.5px solid var(--Main-Colour) !important;
  width: 35px;
  height: 35px;
  border-radius: 30px!important;
  background-size: cover!important;
  }
  /* Caategories */ 
  .container-3w7J-x{
  text-align: center;
  
  }
  /* channels to left */
  .name-23GUGE{
  text-align: left;
  }
  /* Members area Moves to Center */
   .membersGroup-v9BXpm{
  text-align: center;
   }

