/** 
 * @name JinxV1
 * @author Shiz
 * @version ersion auto updates
 * @description Jinks V1 theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
  --Main-Colour: rgb(17, 197, 252);
  --Background-Colour: rgba(19,19,19,1);
  --Secondary-Background-Colour: rgba(19,19,19,.3);
  --Secondary-Main-Colour: rgb(6, 166, 240);
  --Text-Shadow-Colour: rgba(19,19,19,.65);
  --Scroller-Colour: rgba(0,172,234,0);
  --Notification-Colour: rgba(0,172,234,1);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/1jNJOgl.jpg);
  --Settings-Background: url(https://i.imgur.com/go8c5PX.jpg);
  --Callout-Background: url(https://i.imgur.com/N74Zrkf.jpg);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " JinxV1";
  --Chat-Font-Used: 'Short Stack', cursive;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--Secondary-Background-Colour);
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 1;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 20%;
  --Background-Darkness: 0.2;
}
/* New stuff Here */

           /* Change Home Icon (uses base64 encoding) */
            
            .theme-dark .childWrapper-anI2G9 {
                background-color: transparent !important;
                background-image: url(https://i.imgur.com/1hQ2apR.png);
                background-size: cover;
            }
            
            .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
            .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
                background-color: transparent !important;
                background-image: url(https://i.imgur.com/1hQ2apR.png);
                background-size: cover;
            }
            
            .homeIcon-FuNwkv>path {
                fill: transparent!important;
            }
            
            .wrapper-2Gsate {
                background: url(https://i.imgur.com/HV72bjq.jpge);
            }
  
  /*Removing Nitro gift button*/
  .button-3AYNKb{
  display: none;
  }
  
  /* To remove the divider line between messages and Message box extra border */
.groupStart-23k01U {
  box-shadow: none;
}
.textRow-19NEd_ {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
.theme-dark .channelTextArea-rNsIhG {
  border-top: 0px solid hsla(0, 0%, 100%, .1);
}
  
  
  /* Collapsible Member list */
  .membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
  transition: height .6s;
  }
   /* Unblur Folders*/
  .closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
  filter: blur(0px);
  }
  .membersWrap-2h-GB4:hover > div .member-3-YXUe{
   height: 42px;
   transition: height .6s;
  }
   /* Change square avatars to circle*/
  .avatar-1BDn8e.clickable-1bVtEA{
  border: 2.5px solid var(--Main-Colour) !important;
  width: 35px;
  height: 35px;
  border-radius: 30px!important;
  background-size: cover!important;
  }
  /* Caategories */ 
  .container-3w7J-x{
  text-align: center;
  
  }
  /* channels to left */
  .name-23GUGE{
  text-align: left;
  }
  /* Members area Moves to Center */
   .membersGroup-v9BXpm{
  text-align: center;
   }
/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
  width: 35px !important;
  height: 35px !important;
  background-size: cover;
}
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
.member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}

.theme-dark .scrollbar-3dvm_9 {
  background-color: rgba(9, 195, 252, 0.178) !important;
 }

/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}

