/** 
 * @name Mustang-Shelby
 * @author Shiz
 * @version ersion auto updates
 * @description Mustang Shelby theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/No.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/No.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/No.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/no.css);

:root {
    --Main-Colour: rgb(5, 117, 245);
    --Background-Colour: rgb(35, 5, 56);
    --Secondary-Background-Colour: rgb(44, 7, 39);
    --Secondary-Main-Colour: rgb(72, 59, 250);
    --Text-Shadow-Colour: rgba(0,0,0,.65);
    --Scroller-Colour: rgba(7, 11, 252, 0);
    --Notification-Colour: rgb(252, 7, 219);
    --Chat-Input-Background: rgba(18, 7, 122, 0.425);
    --Chat-Input-Colour: var(--Main-Colour) ;
    --Unread-Message-1: rgb(252, 7, 219);
    --Unread-Message-2:rgb(72, 59, 250);
    --Chat-Background: url(https://i.imgur.com/uinG3R3.jpg);
    --Settings-Background: url(https://i.imgur.com/jEoWcul.jpg);
    --Callout-Background: url(https://i.imgur.com/mRRHtJv.jpg);
    --Title-Background: var(--Background-Colour);
    --Theme-Variant: "Mustang Shelby";
    --Chat-Font-Used: 'Vampire wars';
    --Chat-Font-Size: 15px;
    --Unread-Message-Speed: 1.5s;
    --Popout-Main-Colour: var(--Main-Colour);
    --Popout-Background: url(https://i.imgur.com/9T9oXnh.jpg);
    --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
    --Emote-Popout-Background:url(https://i.imgur.com/i4tddUv.jpg);
    --File-Updated-2020-5-24: ;
    --Settings-Dock-Colour: var(--Main-Colour);
    --Timestamp-Colour: var(--Secondary-Main-Colour);
    --Guild-Columns: 1;
    --ServerFolders-Guild-Columns: var(--Guild-Columns);
    --Chat-Avatar-Border-Radius: 40%;
    --Background-Darkness: 0.1;
  }


/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}

/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}

.expandedFolderIconWrapper-1xLaU-{
  background: url(https://i.imgur.com/uinG3R3.jpg) 50% 50%/cover!important;
  filter: blur(0px);
}
                                         /* New things here */
/* Unblur Folders*/
.closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
  filter: blur(0px);
}

/* Collapsible Member list */
.membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
    transition: height .6s;
}

.membersWrap-2h-GB4:hover > div .member-3-YXUe{
  height: 42px;
    transition: height .6s;
}
/* Change square avatars to circle*/
.avatar-1BDn8e.clickable-1bVtEA{
  border: 2.5px solid var(--Main-Colour) !important;
  width: 35px;
  height: 35px;
  border-radius: 30px!important;
  background-size: cover!important;
}
/* Caategories */ 
.container-3w7J-x{
text-align: center;

}
/* channels to left */
.name-23GUGE{
  text-align: left;
}
/* Members area Moves to Center */
.membersGroup-v9BXpm{
  text-align: center;
}
