/**
 * @name Relaxation
 * @author Shiz 
 * @version ersion auto updates
 * @description Relaxation theme by Shiz based on NFLD99's template    |   Github: https://git.io/v7ovg
 * @source https://rabbisalt4.github.io/Testing-Discord/shiz.html
 * @website https://rabbisalt4.github.io/Testing-Discord/
 * @patreon https://rabbisalt4.github.io/Testing-Discord/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://rabbisalt4.github.io/Testing-Discord/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
  :root{
	--Background-Colour: #000000;
	--Chat-Input-Background: rgba(39, 217, 248, 0);
	--Chat-Input-Colour: #78cdf5;
	--Secondary-Main-Colour: rgba(11, 159, 218, 0.986);
	--Main-Colour: #11ddf8;
	--Notification-Colour: #0848f8;
	--Popout-Main-Colour: #13f5d7;
	--Popout-Text-Shadow-Colour: rgba(0, 0, 0, 0.4);
	--Secondary-Background-Colour: rgba(0, 0, 0, 0.3);
	--Scroller-Colour: rgba(13, 47, 240, 0);
	--Settings-Dock-Colour: #0a34f1;
	--Text-Shadow-Colour: rgba(0, 0, 0, 0.4);
	--Timestamp-Colour: rgba(139, 219, 233, 0.938);
	--Unread-Message-1: #17cefc;
	--Unread-Message-2: #4b0ef1;
	--Chat-Background: url(https://i.imgur.com/xx2L8bN.jpg);
	--Settings-Background: url(https://i.imgur.com/IBTtpDx.jpg);
	--Callout-Background: url(https://i.imgur.com/6RiPALC.jpg) ;
	--Title-Background: url(https://i.imgur.com/Yg7lnMT.jpg);
	--Popout-Background: url(https://i.imgur.com/Yg7lnMT.jpg);
	--Emote-Popout-Background: url(https://i.imgur.com/xx2L8bN.jpg);
	--Theme-Variant: "Relaxation";
	--Chat-Font-Used: 'Doppio One', sans-serif;
	--File-Updated-2020-5-24: ;
	--Guild-Columns: 1;
	--ServerFolders-Guild-Columns: 1;
	--Unread-Message-Speed: 1.5s;
	--Chat-Font-Size: 15px;
	--Chat-Avatar-Border-Radius: 3px;
	--Background-Darkness: 0.1
}
.groupStart-23k01U {
    box-shadow: none;
}
/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
	width: 35px !important;
	height: 35px !important;
	background-size: cover;
  }
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
	border-radius: 15px;
  }
  .member-3W1lQa .avatarWrapper-3B0ndJ {
	width: 35px!important;
	height: 35px!important;
  }
/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}
/* Removing Nitro Gift*/
.button-38aScr[tabindex="3"]{
	display: none;
  }
  /*Channels and Sections  borders*/
  .containerDefault-3GGEv_,.ContainerDefult-1ZnADq {
	border: 1px var(--Secondary-Main-Colour) solid;
	border-radius: 5px;
	margin-bottom: 5px;
	transition: all 200ms;
  }
  .contentSelectedText-3wUhMi, .content-3at_AU, .contentSelectedVoice-1WDIBM, .channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--main-colour);
    border: 2px solid silver;
    border-bottom: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-width: 2.5px;
}
.channel-2QD9_O.selected-1HYmZZ a {
  border: 0px;
}
/*Code box*/

.theme-dark .scrollbar-3dvm_9 {
	background-color: rgba(9, 195, 252, 0.171) !important;
   }
   



