/**
 * @name Relaxation
 * @author Shiz 
 * @version ersion auto updates
 * @description Relaxation theme by Shiz based on NFLD99's template    |   Github: https://git.io/v7ovg
 

 * @source https://github.com/NFLD99/Better-Discord
 * @website https://nfld99.com/shiz.html
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/493938960192634880
 * @donate https://nfld99.com/paypal
 * @authorId 493938960192634880
 * @invite zqRpUyepHh

*/

@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
  :root{
	--Background-Colour: #000000;
	--Chat-Input-Background: rgba(39, 217, 248, 0);
	--Chat-Input-Colour: #78cdf5;
	--Secondary-Main-Colour: rgba(11, 159, 218, 0.986);
	--Main-Colour: #11ddf8;
	--Notification-Colour: #0848f8;
	--Popout-Main-Colour: #13f5d7;
	--Popout-Text-Shadow-Colour: rgba(0, 0, 0, 0.4);
	--Secondary-Background-Colour: rgba(0, 0, 0, 0.3);
	--Scroller-Colour: rgba(13, 47, 240, 0);
	--Settings-Dock-Colour: #0a34f1;
	--Text-Shadow-Colour: rgba(0, 0, 0, 0.4);
	--Timestamp-Colour: rgba(139, 219, 233, 0.938);
	--Unread-Message-1: #17cefc;
	--Unread-Message-2: #4b0ef1;
	--Chat-Background: url(https://i.imgur.com/xx2L8bN.jpg);
	--Settings-Background: url(https://i.imgur.com/IBTtpDx.jpg);
	--Callout-Background: url(https://i.imgur.com/6RiPALC.jpg) ;
	--Title-Background: url(https://i.imgur.com/Yg7lnMT.jpg);
	--Popout-Background: url(https://i.imgur.com/Yg7lnMT.jpg);
	--Emote-Popout-Background: url(https://i.imgur.com/xx2L8bN.jpg);
	--Theme-Variant: "Relaxation";
	--Chat-Font-Used: 'Doppio One', sans-serif;
	--File-Updated-2020-5-24: ;
	--Guild-Columns: 1;
	--ServerFolders-Guild-Columns: 1;
	--Unread-Message-Speed: 1.5s;
	--Chat-Font-Size: 15px;
	--Chat-Avatar-Border-Radius: 3px;
	--Background-Darkness: 0.1
}
/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
-webkit-mask: none;	background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
background-color: var(--Secondary-Main-Colour)!important;
  }

.homeIcon-tEMBK1 > path{
	fill: transparent!important;
  }

/*Removing Nitro gift button*/
.button-3AYNKb{
display: none;
}

/* To remove the divider line between messages and Message box extra border */
.groupStart-23k01U {
	box-shadow: none;
  }
  .textRow-19NEd_ {
	display: block;
	font-size: 12px;
	line-height: 16px;
  }
  .theme-dark .channelTextArea-rNsIhG {
	border-top: 0px solid hsla(0, 0%, 100%, .1);
  }

/* Collapsible Member list */
.membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
height: 0px;
overflow: hidden;
transition: height .6s;
}
 /* Unblur Folders*/
.closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
filter: blur(0px);
}
.membersWrap-2h-GB4:hover > div .member-3-YXUe{
 height: 42px;
 transition: height .6s;
}
 /* Change square avatars to circle*/
.avatar-1BDn8e.clickable-1bVtEA{
border: 2.5px solid var(--Main-Colour) !important;
width: 35px;
height: 35px;
border-radius: 30px!important;
background-size: cover!important;
}
/* Caategories */ 
.container-3w7J-x{
text-align: center;

}
/* channels to left */
.name-23GUGE{
text-align: left;
}
/* Members area Moves to Center */
 .membersGroup-v9BXpm{
text-align: center;
 }
.groupStart-23k01U {
    box-shadow: none;
}
/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
	width: 35px !important;
	height: 35px !important;
	background-size: cover;
  }
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
	border-radius: 15px;
  }
  .member-3W1lQa .avatarWrapper-3B0ndJ {
	width: 35px!important;
	height: 35px!important;
  }
/* Removing Nitro Gift*/
.button-38aScr[tabindex="3"]{
	display: none;
  }
/*Code box*/

.theme-dark .scrollbar-3dvm_9 {
	background-color: rgba(9, 195, 252, 0.171) !important;
   }
   



