/** 
 * @name Rising-Of-The-Shield-Hero
 * @author Shiz
 * @version ersion auto updates
 * @description The Rising of the Shield Hero theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css)
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/No.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
  --Main-Colour: rgba(246,148,196,1);
  --Background-Colour: rgba(54,11,30,1);
  --Secondary-Background-Colour: rgba(54,11,30,.3);
  --Secondary-Main-Colour: rgba(246,148,196,.5);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(246,148,196,0);
  --Notification-Colour: rgba(246,148,196,1);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/gqar0m3.jpg);
  --Settings-Background: url(https://i.imgur.com/49uw0KV.jpg);
  --Callout-Background: url(https://i.imgur.com/CTnerXQ.png);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " Shield Hero";
  --Chat-Font-Used: 'Bubblegum Sans', cursive;;
  --Chat-Font-Size: 17px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background:url(https://i.imgur.com/OvssPkE.png?2);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: url(https://i.imgur.com/k3cbNlF.png);
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 2;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 45%;
  --Background-Darkness: 0.4;
}
/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
  width: 35px !important;
  height: 35px !important;
  background-size: cover;
}
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
.member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}

/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}
/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}
/* Removing the bottom border in member list*/
.member-3W1lQa {border-bottom: none;
}
.groupStart-23k01U {
    box-shadow: none;
}

/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
}

/* sending message area adding a border */
.da-app .inner-zqa7da {
	border: 1px solid rgb(245, 10, 123);
	border-radius: 5px;
	box-shadow: 0px 0px 10px #f162de;
}

.contentSelectedText-3wUhMi,.content-3at_AU,.contentSelectedVoice-1WDIBM, .channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--color-main);
    border: 1px solid rgb(240, 6, 119);
    border-bottom-color: #f162de;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-width: 2.5px;
}
.channel-2QD9_O.selected-1HYmZZ a {
  border: 0px;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: var(--color-main);
    border: 1px solid rgba(246,148,196,1);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-width: 2.5px;
    height: 40px;
    width: 0px;
}
/* connected voice area */
.container-1UB9sr {
	background-color: var(--color-main);
	border: 1px solid rgba(246,148,196,1);
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* search button at the top */
.theme-dark .search .search-bar {
    background-color: var(--color-main);
    border: 1px solid rgba(246,148,196,1);
}


/* guild add button */
.theme-dark .guildsAdd-21_IdK {
    background: var(--color-main);
    border-color: rgba(246,148,196,1);
    color: rgba(246,148,196,1);
}
/* makes hover effect on some areas from default discord */
.scrollerFade-1Ijw5y .scroller-2FKFPG:hover::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y .scroller-2FKFPG:hover::-webkit-scrollbar-track, .scrollerFade-1Ijw5y:hover::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y:hover::-webkit-scrollbar-track {
  visibility: visible!important;
}
.scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-track {
  visibility: hidden!important;
}
/* scroll bar removing background on emoji page */
.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
  background-color: transparent;
}

/* unread messages */
.wrapper-232cHJ {
  background-color: #f162de;
  box-shadow: 0px 0px 10px #f162de;
}

/* settings my account background */
.theme-dark .da-cardPrimary, .theme-dark .da-cardPrimaryEditable {
background: rgba(246,148,196,1);
border-color: rgba(246,148,196,1);
}

/* settings button normal and hover of categories */

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
background-color: rgba(246,148,196,1);
   border: 1px solid #f162de;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
height: 40px;
  width: 0px;
}

/* secondary buttons */
.da-app .lookFilled-1Gx00P.colorBrand-3pXr91 {
background-color: #f162de;
}

.da-app .lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: rgba(246,148,196,1);
}

/* profile focused button text border */
.theme-dark .input-cIJ7To.focused-1mmYsC, .theme-dark .input-cIJ7To:focus {
  border-color: rgba(246,148,196,1);
}

/* profile area of settings question mark normal and hover */
.da-app .da-questionMark {
  background-color: #f815ad;
}
.da-app .da-questionMark:hover {
  background-color: #f162de;
}


