/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;
  background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
}

.homeIcon-tEMBK1 > path{
  fill: transparent!important;
}

/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}

.expandedFolderIconWrapper-1xLaU-{
  background: url(https://i.imgur.com/uinG3R3.jpg) 50% 50%/cover!important;
  filter: blur(0px);
}
                                         /* New things here */
/* Unblur Folders*/
.closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
  filter: blur(0px);
}

/* Collapsible Member list */
.membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
    transition: height .6s;
}

/* Change square avatars to circle*/
.avatar-1BDn8e.clickable-1bVtEA{
  border: 2.5px solid var(--Main-Colour) !important;
  width: 35px;
  height: 35px;
  border-radius: 30px!important;
  background-size: cover!important;
}
/* Caategories */ 
.container-3w7J-x{
text-align: center;

}
/* channels to left */
.name-23GUGE{
  text-align: left;
}
/* Members area Moves to Center */
.membersGroup-v9BXpm{
  text-align: center;
}
