/** 
 * @name Waterfalls
 * @author Shiz
 * @version ersion auto updates
 * @description Waterfalls theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/No.css);
/* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root { 
  --Main-Colour: rgba(102, 255, 102,1); 
  --Background-Colour: rgba(102, 102, 255, 0.123); 
  --Secondary-Background-Colour: rgba(102, 102, 255,.3); 
  --Secondary-Main-Colour: rgba(102, 255, 102,.5); 
  --Text-Shadow-Colour: rgba(102, 102, 255,.45); 
  --Scroller-Colour: rgba(102, 255, 102,.5); 
  --Notification-Colour: rgba(102, 255, 102,1); 
  --Chat-Input-Background: rgba(102, 173, 255, 0.267); 
  --Chat-Input-Colour: rgba(102, 255, 102,1); 
  --Unread-Message-1: rgba(102, 255, 102,1); 
  --Unread-Message-2: rgba(102, 102, 255,1); 
  --Chat-Background: url(https://i.imgur.com/uNHNObj.jpg); 
  --Settings-Background: url(https://i.imgur.com/mTQvPP9.jpg); 
  --Callout-Background: url(https://i.imgur.com/KsLaqzL.jpg); 
  --Title-Background: Transpanrent; 
  --Theme-Variant:"Waterfalls"; 
  --Chat-Font-Used: 'Schoolbell', cursive; 
  --Chat-Font-Size: 20px; 
  --Unread-Message-Speed: 1.5s; 
  --Popout-Main-Colour: rgba(255, 102, 102,1); 
  --Popout-Background: url(https://i.imgur.com/mTQvPP9.jpg); 
  --Popout-Text-Shadow-Colour: rgba(102, 102, 255,.45); 
  --Emote-Popout-Background: url(https://i.imgur.com/scKbKLA.jpg);
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: rgba(102, 255, 102,1); 
  --Timestamp-Colour: rgba(102, 255, 102,.5); 
  --Background-Darkness: .3; 
  --Guild-Columns: 2; 
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 40%; 
} 

/* Change Home Icon (uses base64 encoding) */
:not([style="opacity: 1; height: 56px; transform: scale(1);"]) > div > .listItemWrapper-3X98Pc > .wrapper-25eVIn:not(.circleButtonMask-2VNJsN){
  -webkit-mask: none;	background: url(https://i.imgur.com/rymBnte.jpg) 50% 50%/cover!important;
  background-color: var(--Secondary-Main-Colour)!important;
    }
  
  .homeIcon-tEMBK1 > path{
    fill: transparent!important;
    }
  
  /*Removing Nitro gift button*/
  .button-3AYNKb{
  display: none;
  }
  
  
  
  /* Collapsible Member list */
  .membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
  transition: height .6s;
  }
   /* Unblur Folders*/
  .closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
  filter: blur(0px);
  }
  .membersWrap-2h-GB4:hover > div .member-3-YXUe{
   height: 42px;
   transition: height .6s;
  }
   /* Change square avatars to circle*/
  .avatar-1BDn8e.clickable-1bVtEA{
  border: 2.5px solid var(--Main-Colour) !important;
  width: 35px;
  height: 35px;
  border-radius: 30px!important;
  background-size: cover!important;
  }
  /* Caategories */ 
  .container-3w7J-x{
  text-align: center;
  
  }
  /* channels to left */
  .name-23GUGE{
  text-align: left;
  }
  /* Members area Moves to Center */
   .membersGroup-v9BXpm{
  text-align: center;
   }


 /* Removing the bottom border in member list*/
.member-3W1lQa {border-bottom: none;
}
.groupStart-23k01U {
    box-shadow: none;
}

/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}
