/** 
 * @name World-Of-Warcraft-BFA
 * @author Shiz
 * @version ersion auto updates
 * @description World Of Warcraft Battle For Azeroth theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/No.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 /* Full width roles on profile pop-out */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Full_Width_Roles/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
  --Main-Colour: rgb(248, 47, 11);
  --Background-Colour: rgba(7,0,5,1);
  --Secondary-Background-Colour: rgba(7,0,5,.3);
  --Secondary-Main-Colour: rgb(8, 32, 250);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(250, 54, 54, 0);
  --Notification-Colour: rgb(57, 54, 250);
  --Chat-Input-Background: rgba(19, 41, 241, 0.2);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/E9qWoa6.jpg);
  --Settings-Background: url(https://i.imgur.com/FeRyIIH.jpg);
  --Callout-Background: url(https://i.imgur.com/WRJc0Kn.jpg);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " World Of Warcraft-BFA ";
  --Chat-Font-Used: 'Bubblegum Sans', cursive;
  --Chat-Font-Size: 18px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: url(https://i.imgur.com/55JBEhg.jpg?1);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: url(https://i.imgur.com/55JBEhg.jpg);
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: rgb(248, 47, 11);
  --Guild-Columns: 2;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 40%;
  --Background-Darkness: 0.40;
}
/* Change Avatar Size(also moves username for you) */
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {
  width: 35px !important;
  height: 35px !important;
  background-size: cover;
}
/* Changes Border-radius Avatar */
.avatar-VxgULZ {
  border-radius: 15px;
}
.member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}
/*Removing Nitro gift button*/
.button-3AYNKb{
  display: none;
}

/* To remove the divider line between messages and Message box extra border */
.groupStart-23k01U {
  box-shadow: none;
}
.textRow-19NEd_ {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
.theme-dark .channelTextArea-rNsIhG {
  border-top: 0px solid hsla(0, 0%, 100%, .1);

           /* Change Home Icon (uses base64 encoding) */
            
            .theme-dark .childWrapper-anI2G9 {
                background-color: transparent !important;
                background-image: url(https://i.imgur.com/1hQ2apR.png);
                background-size: cover;
            }
            
            .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
            .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
                background-color: transparent !important;
                background-image: url(https://i.imgur.com/1hQ2apR.png);
                background-size: cover;
            }
            
            .homeIcon-FuNwkv>path {
                fill: transparent!important;
            }
            
            .wrapper-2Gsate {
                background: url(https://i.imgur.com/HV72bjq.jpge);
            }
  /* Unblur Folders*/
  .closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
    filter: blur(0px);
  }
  .folder-1hbNCn:not(:hover) > div > div > div{
  filter: blur(0px);
}
  /*Removing Nitro gift button*/
  .button-3AYNKb{
  display: none;
  }
  
  
  
  /* Collapsible Member list */
  .membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
  transition: height .6s;
  }
   /* Unblur Folders*/
  .closedFolderIconWrapper-15K9MK > .guildIcon-GuAC7C{
  filter: blur(0px);
  }
  .membersWrap-2h-GB4:hover > div .member-3-YXUe{
   height: 42px;
   transition: height .6s;
  }
   /* Change square avatars to circle*/
  .avatar-1BDn8e.clickable-1bVtEA{
  border: 2.5px solid var(--Main-Colour) !important;
  width: 35px;
  height: 35px;
  border-radius: 30px!important;
  background-size: cover!important;
  }
  /* Caategories */ 
  .container-3w7J-x{
  text-align: center;
  
  }
  /* channels to left */
  .name-23GUGE{
  text-align: left;
  }
  /* Members area Moves to Center */
   .membersGroup-v9BXpm{
  text-align: center;
   }
