/* Animations For My Themes */

:root{
  --Transitions-Enabled: 250ms all ;
}

@keyframes Spin {
  0% {
    -webkit-transform: rotate(0) scale(.9);
    transform: rotate(0) scale(.9)
  }
  100% {
    -webkit-transform: rotate(360deg) scale(.9);
    transform: rotate(360deg) scale(.9)
  }
}

@keyframes Talking {
  0% {
    transform: rotate(-360deg) scale(1);
    box-shadow: 0 0 0 2px var(--Main-Colour)
  }
  100% {
    transform: rotate(360deg) scale(1);
    box-shadow: 0 0 0 2px var(--Main-Colour)
  }
}

@keyframes Load4 {
  from {
    top: 50%;
    bottom: 50%
  }
}

@keyframes opacity {
  0% {
    background-color: var(--Unread-Message-1)
  }
  50% {
    background-color: var(--Unread-Message-2)
  }
  100% {
    background-color: var(--Unread-Message-1)
  }
}

@keyframes color_change {
  from {
    color: var(--Background-Colour)
  }
  to {
    color: #00c416
  }
}

@keyframes shakeUnread {
  0% {
    transform: translate(calc(100% / -2 - 36px), 0)
  }
  100% {
    transform: translate(calc(100% / 2 + 8px), 0)
  }
}

@keyframes shakeUnreadv2 {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes shakeUnreadv3 {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0)
  }
  to {
    -webkit-filter: hue-rotate(360deg)
  }
}

@keyframes Connecting {
  0% {
    background: var(--Chat-Background)
  }
  50% {
    background: var(--Settings-Background)
  }
  100% {
    background: var(--Callout-Background)
  }
}

@keyframes TextScroll {
  from {
    left: -230px
  }
  to {
    left: 100%
  }
}

@keyframes pulse {
  0% {
    opacity: .5
  }
  25% {
    opacity: .1
  }
  50% {
    opacity: .5
  }
  75% {
    opacity: .1
  }
  100% {
    opacity: .5
  }
}

@keyframes boop {
  0% {
    transform: translate(0, 20px)
  }
  100% {
    transform: translate(0, -25px)
  }
}

@keyframes boop2 {
  0% {
    transform: translate(0, -25px)
  }
  100% {
    transform: translate(0, -70px)
  }
}

@keyframes PFB {
  0% {
    transform: translate(0, -70px);
    opacity: 0
  }
  100% {
    transform: translate(0, 00px);
    opacity: 1
  }
}

@keyframes Dnd {
  0% {
    border: 2.5px solid rgba(240, 71, 71, 1);
    box-shadow: 0 0 5px rgba(240, 71, 71, 1)
  }
  50% {
    border: 2.5px solid rgba(240, 71, 71, .4);
    box-shadow: 0 0 1px rgba(240, 71, 71, .4)
  }
  100% {
    border: 2.5px solid rgba(240, 71, 71, 1);
    box-shadow: 0 0 5px rgba(240, 71, 71, 1)
  }
}

@keyframes Online {
  0% {
    border: 2.5px solid rgba(67, 181, 129, 1);
    box-shadow: 0 0 5px rgba(67, 181, 129, 1)
  }
  50% {
    border: 2.5px solid rgba(67, 181, 129, .4);
    box-shadow: 0 0 1px rgba(67, 181, 129, .4)
  }
  100% {
    border: 2.5px solid rgba(67, 181, 129, 1);
    box-shadow: 0 0 5px rgba(67, 181, 129, 1)
  }
}

@keyframes Away {
  0% {
    border: 2.5px solid rgba(250, 166, 26, 1);
    box-shadow: 0 0 5px rgba(250, 166, 26, 1)
  }
  50% {
    border: 2.5px solid rgba(250, 166, 26, .4);
    box-shadow: 0 0 1px rgba(250, 166, 26, .4)
  }
  100% {
    border: 2.5px solid rgba(250, 166, 26, 1);
    box-shadow: 0 0 5px rgba(250, 166, 26, 1)
  }
}

@keyframes Stream {
  0% {
    border: 2.5px solid rgba(89, 54, 149, 1);
    box-shadow: 0 0 5px rgba(89, 54, 149, 1)
  }
  50% {
    border: 2.5px solid rgba(89, 54, 149, .4);
    box-shadow: 0 0 1px rgba(89, 54, 149, .4)
  }
  100% {
    border: 2.5px solid rgba(89, 54, 149, 1);
    box-shadow: 0 0 5px rgba(89, 54, 149, 1)
  }
}

@keyframes Offline {
  0% {
    border: 2.5px solid rgba(116, 127, 141, 1);
    box-shadow: 0 0 5px rgba(116, 127, 141, 1)
  }
  50% {
    border: 2.5px solid rgba(116, 127, 141, .4);
    box-shadow: 0 0 1px rgba(116, 127, 141, .4)
  }
  100% {
    border: 2.5px solid rgba(116, 127, 141, 1);
    box-shadow: 0 0 5px rgba(116, 127, 141, 1)
  }
}

@keyframes SFA {
  0% {
    transform: translate(0, -300px);
    opacity: 0
  }
  100% {
    transform: translate(0, 0);
    opacity: 1
  }
}

@keyframes SFC {
  0% {
    transform: translate(0, 0);
    opacity: 1
  }
  100% {
    transform: translate(-30px, 0);
    opacity: 0;
    display: none
  }
}

@keyframes Brainbow {
  from {
    -webkit-filter: hue-rotate(0)
  }
  to {
    -webkit-filter: hue-rotate(360deg)
  }
}

@keyframes Links {
  0% {
    text-shadow: 0 0 6px #2ecc71
  }
  3.7% {
    text-shadow: 0 0 6px #e09e36
  }
  7.4% {
    text-shadow: 0 0 6px #5b2076
  }
  11.1% {
    text-shadow: 0 0 6px #277ecd
  }
  14.8% {
    text-shadow: 0 0 6px #970045
  }
  18.5% {
    text-shadow: 0 0 6px #277ecd
  }
  22.2% {
    text-shadow: 0 0 6px #00acea
  }
  25.9% {
    text-shadow: 0 0 6px #f90
  }
  29.6% {
    text-shadow: 0 0 6px #b378d3
  }
  33.3% {
    text-shadow: 0 0 6px #f90
  }
  37% {
    text-shadow: 0 0 6px #87cefa
  }
  40.7% {
    text-shadow: 0 0 6px #228c29
  }
  44.4% {
    text-shadow: 0 0 6px #00acea
  }
  48.1% {
    text-shadow: 0 0 6px #f9bd05
  }
  51.8% {
    text-shadow: 0 0 6px #00acea
  }
  55.5% {
    text-shadow: 0 0 6px #00e2cc
  }
  59.2% {
    text-shadow: 0 0 6px #00f800
  }
  62.9% {
    text-shadow: 0 0 6px #f90
  }
  66.6% {
    text-shadow: 0 0 6px #0084ea
  }
  70.3% {
    text-shadow: 0 0 6px #f04937
  }
  74% {
    text-shadow: 0 0 6px #9ff
  }
  77.7% {
    text-shadow: 0 0 6px #990a0a
  }
  81.4% {
    text-shadow: 0 0 6px #4a6b1a
  }
  85.1% {
    text-shadow: 0 0 6px #9dd0eb
  }
  88.8% {
    text-shadow: 0 0 6px #818689
  }
  92.5% {
    text-shadow: 0 0 6px #277ecd
  }
  100% {
    text-shadow: 0 0 6px #2ecc71
  }
}

@keyframes fail {
  0% {
    box-shadow: 0 0 20px 0 red
  }
  50% {
    box-shadow: 0 0 70px 0 red
  }
  100% {
    box-shadow: 0 0 20px 0 red
  }
}

@keyframes NSFW {
  0% {
    fill: var(--Secondary-Main-Colour)
  }
  50% {
    fill: var(--Main-Colour)
  }
  100% {
    fill: var(--Secondary-Main-Colour)
  }
}

.contentUnreadText-2vNnZc, .contentUnreadText-2vNnZc:hover {
  background: 0 0!important
}

@keyframes UnreadpulseOLD {
  0% {
    filter: brightness(160%);
    border-right: 10px solid var(--Main-Colour)
  }
  50% {
    filter: brightness(100%);
    border-right: 1px solid var(--Main-Colour)
  }
  100% {
    filter: brightness(160%);
    border-right: 10px solid var(--Main-Colour)
  }
}

@keyframes Unreadpulse {
  0% {
    background-position: 50% -150%
  }
  50% {
    background-position: 200% 50%
  }
  100% {
    background-position: 50% -150%
  }
}

@keyframes Uploader {
  0% {
    -webkit-mask: url('data:image/svg+xml; utf8, <svg width="100" height="130" viewBox="0 0 100 130" xmlns="http://www.w3.org/2000/svg"><title>icon-file-large-code</title><defs><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="a"><feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur stdDeviation="7" in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="b"><feOffset dx="-1" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs><g fill="none" fill-rule="evenodd"><g stroke-width="2"><path d="M0 6.993C0 3.683 2.695 1 6 1h43.994C54.664 1 70 16.32 70 20.982V95.01c0 3.308-2.68 5.99-5.998 5.99H5.998C2.686 101 0 98.312 0 95.007V6.993z" stroke="lime" fill="transparent" filter="url(#a)" transform="translate(15 12)"/><path d="M51 3.997c0-3.312 1.895-4.102 4.242-1.755l13.516 13.516C71.1 18.1 70.313 20 67.003 20H54c-1.656 0-3-1.343-3-3V3.996z" stroke="lime" fill="transparent" filter="url(#b)" transform="translate(15 12)"/><path d="M61 17H22.985c-2.76 0-4.997 2.23-4.997 5.002V29" stroke="lime" opacity=".6"/><path d="M69 19v7.502C69 27.882 70.11 29 71.5 29H74" stroke-opacity=".6" stroke="lime"/></g><path d="M41 85.48c0-.54.015-1.04.045-1.5l.09-1.35.09-1.335c.03-.45.045-.925.045-1.425 0-.28-.06-.56-.18-.84-.12-.28-.34-.525-.66-.735-.32-.21-.76-.385-1.32-.525s-1.27-.21-2.13-.21v-1.8c.86 0 1.57-.07 2.13-.21.56-.14 1-.315 1.32-.525.32-.21.54-.455.66-.735.12-.28.18-.56.18-.84 0-.96-.045-1.875-.135-2.745-.09-.87-.135-1.825-.135-2.865 0-.78.11-1.435.33-1.965.22-.53.56-.95 1.02-1.26.46-.31 1.04-.53 1.74-.66s1.52-.195 2.46-.195h1.95v1.68h-1.47c-.72 0-1.31.045-1.77.135-.46.09-.82.235-1.08.435-.26.2-.44.46-.54.78-.1.32-.15.72-.15 1.2 0 .84.03 1.7.09 2.58.06.88.09 1.78.09 2.7 0 1.02-.205 1.785-.615 2.295-.41.51-1.145.855-2.205 1.035v.12c1.06.18 1.795.525 2.205 1.035.41.51.615 1.275.615 2.295 0 1-.03 1.905-.09 2.715-.06.81-.09 1.665-.09 2.565 0 .48.05.88.15 1.2.1.32.28.58.54.78.26.2.62.345 1.08.435.46.09 1.05.135 1.77.135h1.47v1.68h-1.95c-.94 0-1.76-.065-2.46-.195s-1.28-.35-1.74-.66c-.46-.31-.8-.73-1.02-1.26-.22-.53-.33-1.185-.33-1.965zm12.97 2.4c.72 0 1.315-.045 1.785-.135.47-.09.835-.235 1.095-.435s.44-.46.54-.78c.1-.32.15-.72.15-1.2 0-.9-.03-1.755-.09-2.565s-.09-1.715-.09-2.715c0-1.02.2-1.785.6-2.295.4-.51 1.13-.855 2.19-1.035v-.12c-1.06-.18-1.79-.525-2.19-1.035-.4-.51-.6-1.275-.6-2.295 0-.92.03-1.82.09-2.7.06-.88.09-1.74.09-2.58 0-.48-.05-.88-.15-1.2-.1-.32-.28-.58-.54-.78-.26-.2-.625-.345-1.095-.435-.47-.09-1.065-.135-1.785-.135H52.5v-1.68h1.95c.96 0 1.785.065 2.475.195.69.13 1.265.35 1.725.66.46.31.8.73 1.02 1.26.22.53.33 1.185.33 1.965 0 1.04-.045 1.995-.135 2.865-.09.87-.135 1.785-.135 2.745 0 .28.06.56.18.84.12.28.34.525.66.735.32.21.755.385 1.305.525.55.14 1.265.21 2.145.21v1.8c-.88 0-1.595.07-2.145.21-.55.14-.985.315-1.305.525-.32.21-.54.455-.66.735-.12.28-.18.56-.18.84 0 .5.015.975.045 1.425l.09 1.335.09 1.35c.03.46.045.96.045 1.5 0 .78-.11 1.435-.33 1.965-.22.53-.56.95-1.02 1.26-.46.31-1.035.53-1.725.66-.69.13-1.515.195-2.475.195H52.5v-1.68h1.47z" opacity=".8" fill="lime"/></g></svg>')
  }
  50% {
    -webkit-mask: url('data:image/svg+xml; utf8, <svg width="100px" height="130px" viewBox="0 0 100 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch --><title>icon-file-large-document</title><desc>Created with Sketch.</desc><defs><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1"><feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur stdDeviation="7" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur><feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2"><feOffset dx="-1" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur stdDeviation="0" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur><feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g id="Drag-&amp;-Drop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="Desktop-HD---Drag-&amp;-Drop,-Droplet" sketch:type="MSArtboardGroup" transform="translate(-548.000000, -868.000000)"><g id="Group" sketch:type="MSLayerGroup" transform="translate(239.000000, 880.000000)"><g id="icon-file-large-document" transform="translate(324.000000, 0.000000)" sketch:type="MSShapeGroup"><g id="Group" stroke-width="2"><path d="M0,6.99306484 C0,3.68318653 2.67945063,1 5.99088792,1 L50.2815992,1 C54.8549257,1 70,16.4899443 70,21.238384 L70,94.9997026 C70,98.3135753 67.3201398,101 64.0015788,101 L5.99842118,101 C2.68558464,101 0,98.312319 0,95.0069352 L0,6.99306484 Z" id="Rectangle-113" stroke="#7289DA" fill="transparent" filter="url(#filter-1)"></path><path d="M51,3.99706188 C51,0.684976062 52.8947487,-0.105251323 55.2418213,2.24182129 L68.7581787,15.7581787 C71.1008719,18.1008719 70.3133742,20 67.0029381,20 L54.0013869,20 C52.3437667,20 51,18.6569187 51,16.9986131 L51,3.99706188 Z" id="Path" stroke="#7289DA" fill="transparent" filter="url(#filter-2)"></path><path d="M46,5 L7.98543461,5 C5.22563406,5 2.98837366,7.22898489 2.98837366,10.0021863 L2.98837366,17" id="Path-156" stroke="#C9D2F0" opacity="0.6"></path><path d="M54,7 L54,14.5023733 C54,15.8817744 55.1096621,17 56.5,17 L59,17" id="Path-157" stroke-opacity="0.6" stroke="#C9D2F0"></path></g><path d="M8,75 L62,75 L62,78 L8,78 L8,75 Z M8,82 L62,82 L62,85 L8,85 L8,82 Z M8,68 L62,68 L62,71 L8,71 L8,68 Z M8,19 L42,19 L42,22 L8,22 L8,19 Z M8,61 L62,61 L62,64 L8,64 L8,61 Z M8,54 L62,54 L62,57 L8,57 L8,54 Z M8,47 L62,47 L62,50 L8,50 L8,47 Z M8,40 L62,40 L62,43 L8,43 L8,40 Z M8,33 L62,33 L62,36 L8,36 L8,33 Z M8,26 L42,26 L42,29 L8,29 L8,26 Z" id="Rectangle-128" opacity="0.600000024" fill="lime"></path></g></g></g></g></svg>')
  }
  100% {
    -webkit-mask: url('data:image/svg+xml; utf8, <svg width="100" height="130" viewBox="0 0 100 130" xmlns="http://www.w3.org/2000/svg"><title>icon-file-large-webcode</title><defs><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="a"><feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur stdDeviation="7" in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="b"><feOffset dx="-1" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs><g fill="none" fill-rule="evenodd"><path d="M0 6.993C0 3.683 2.68 1 5.99 1h44.287C54.852 1 70 15.79 70 20.19v74.816c0 3.31-2.68 5.994-5.998 5.994H5.998C2.686 101 0 98.312 0 95.007V6.993z" stroke="#7289DA" stroke-width="2" fill="transparent" filter="url(#a)" transform="translate(15 12)"/><path d="M51 3.997c0-3.312 1.895-4.102 4.242-1.755l13.516 13.516C71.1 18.1 70.313 20 67.003 20H54c-1.656 0-3-1.343-3-3V3.996z" stroke="#7289DA" stroke-width="2" fill="transparent" filter="url(#b)" transform="translate(15 12)"/><path d="M61 17H22.985c-2.76 0-4.997 2.23-4.997 5.002V29" stroke="#C9D2F0" stroke-width="2" opacity=".6"/><path d="M69 19v7.502C69 27.882 70.11 29 71.5 29H74" stroke-opacity=".6" stroke="#C9D2F0" stroke-width="2"/><path d="M39.37 89.8h-2.58l9.84-26.1h2.58l-9.84 26.1zm25.06-13.68l-11.31 7.56v-2.79l8.76-5.79v-.12l-8.76-5.79V66.4l11.31 7.56v2.16z" opacity=".8" fill="lime"/></g></svg>')
  }
}

@keyframes UploaderBG {
  0% {
    background-position: 200% 200%
  }
  100% {
    background-position: 0 -200%
  }
}

@keyframes Notif {
  from, to {
    transform: translate(-50%, -100%);
    opacity: 0
  }
  20%, 80% {
    transform: translate(-50%, 10%);
    opacity: 1
  }
}

@keyframes Notif2 {
  from, to {
    transform: translate(-50%, -50%);
    opacity: 0
  }
  20%, 80% {
    transform: translate(-50%, 112%);
    opacity: 1
  }
}

@keyframes CLog {
  from {
    -webkit-filter: hue-rotate(0)
  }
  to {
    -webkit-filter: hue-rotate(360deg)
  }
}

@keyframes Everyone {
  0% {
    box-shadow: 0 0 15px 0 var(--Secondary-Main-Colour)
  }
  50% {
    box-shadow: 0 0 15px 5px var(--Secondary-Main-Colour)
  }
  100% {
    box-shadow: 0 0 15px 0 var(--Secondary-Main-Colour)
  }
}

@keyframes Everyone2 {
  0% {
    transform: translate(0, -200%) scale(0)
  }
  100% {
    transform: translate(0, 0) scale(1)
  }
}

@keyframes auth {
  from {
    -webkit-filter: hue-rotate(0)
  }
  to {
    -webkit-filter: hue-rotate(360deg)
  }
}

@keyframes Popoutinvite {
  from {
    width: 0
  }
  to {
    width: 920px
  }
}

@keyframes guildUnread {
  0% {
    box-shadow: 0 0 4px 0 var(--Unread-Message-1);
  }
  50% {
    box-shadow: 0 0 8px 0 var(--Unread-Message-2);
  }
  100% {
    box-shadow: 0 0 4px 0 var(--Unread-Message-1);
  }
}