/* Channels */
.sidebar-1tnWFu{
	min-width:10px!important;
	max-width:240px!important;
	width:10px;
	transition: all .5s;
	opacity: 0;
}

.sidebar-1tnWFu:hover{
	width:240px;
	transition: all .6s;
	opacity: 1;
}