/* Channels */
.sidebar_c48ade{
	min-width:10px!important;
	max-width:240px!important;
	width:10px;
	transition: all .5s;
	opacity: 0;
}

.sidebar_c48ade:hover{
	width:240px;
	transition: all .6s;
	opacity: 1;
}