/* Members */
.membersWrap-2h-GB4:not(#dv-mount),.membersWrap-2h-GB4:not(#dv-mount) > div{
	min-width:60px!important;
	max-width:240px!important;
	width:60px;
  transition: width .5s;
}

.membersWrap-2h-GB4:hover:not(#dv-mount),.membersWrap-2h-GB4:hover:not(#dv-mount) > div{
	width:240px;
	transition: width .6s;
}

#dv-main .dv-date{
  white-space: normal;
}
