/**
 * @name Popout_Text_And_Voice
 * @author NFLD99
 * @version ersion auto updates
 * @description Thank you for choosing NFLD Inc!
 * @source https://github.com/NFLD99/Better-Discord
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/
/* Members */
.container_c8ffbb{
	min-width:50px!important;
	max-width:240px!important;
	width:50px;
	transition: width .5s;
}
.container_c8ffbb:hover{
	width:240px;
	transition: width .6s;
}
/* Giulds */
.wrapper_ef3116:not(:hover){
	max-width: 10px!important;
	opacity: 0;
	transition: all 200ms;
}
.wrapper_ef3116 {
  width: 60px!important;
  max-width: 65px!important;
	transition: all 200ms;
}
/* Channels */
.sidebar_c48ade{
	min-width:10px!important;
	max-width:245px!important;
	width:15px;
	transition: all .5s;
	opacity: 0;
}
.sidebar_c48ade:hover{
	width:245px;
	transition: all .6s;
	opacity: 1;
}
