/**
 * @name Rainbow_Mentions
 * @author NFLD99
 * @version version auto updates
 * @description Thank you for choosing NFLD Inc!
 * @source https://github.com/NFLD99/Better-Discord
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/
.mentioned_fa6fd2{
  background-color: hsl(var(--yellow-300-hsl) / 0.02) !important;
  animation: rainbowmention 3s infinite linear!important;
}
.wrapper_f46140, .mentioned__58017, .message__80c10.mentioned__58017.selected_fd9051, .mouse-mode.full-motion .mentioned__58017:hover{
  background: transparent !important;
}
.mention{
  color: #00e5ff!important;
  animation: rainbowmention 3s infinite linear!important;
}
#message-content-1242478636053958666 > span{
  color: #00e5ff!important;
  animation: rainbowmention 3s infinite linear!important;
}
.mentioned_fa6fd2:before{
  width: 3px;
  color: #00e5ff!important;
  animation: rainbowmention 3s infinite linear!important;
}
@keyframes rainbowmention {
  from {
   -webkit-filter: hue-rotate(0deg);
  }
  to {
   -webkit-filter: hue-rotate(360deg);
  }
}
