/**
 * @name Rainbow_Mentions
 * @author NFLD99
 * @version ersion auto updates
 * @description Thank you for choosing NFLD Inc!
 * @source https://github.com/NFLD99/Better-Discord
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/
.wrapper_f46140{
  background: transparent !important;
}
.wrapper_f46140,.mentioned__58017,.message__80c10.mentioned__58017.selected_fd9051, .mouse-mode.full-motion .mentioned__58017:hover{
  color: #00e5ff;
  animation: rainbowmention 3s infinite linear;
}
@keyframes rainbowmention {
  from {
   -webkit-filter: hue-rotate(0deg);
  }
  to {
   -webkit-filter: hue-rotate(360deg);
  }
}
