/* 
Temporary Fixes
Add your fixes below. Please include a clear comment describing what your fix does, and credit yourself with your Discord ID or GitHub username.

Example:
/* 
Makes the background of the User Information section transparent.
Credit: Discord: mr.fluff. (801417053151428668) | GitHub: NFLD99
*/
/* .visual-refresh .panels_c48ade {
  background: transparent;
} */
