/* 
Temporary Fixes
Add your fixes below. Please include a clear comment describing what your fix does, and credit yourself with your Discord ID or GitHub username.

Example:
/* 
Makes the background of the User Information section transparent.
Credit: Discord: mr.fluff. (801417053151428668) | GitHub: NFLD99
*/
/* .visual-refresh .panels_c48ade {
  background: transparent;
} */

/* the below should nuke the background forced by the visual refresh update */
.visual-refresh .theme-dark,.visual-refresh.theme-dark {
  --activity-card-background: none;
  --autocomplete-bg: none;
  --background-floating: none;
  --background-mentioned: none;
  --background-mentioned-hover: none;
  --background-message-highlight: none;
  --background-message-highlight-hover: none;
  --background-message-hover: none;
  --background-modifier-accent: none;
  --background-modifier-active: none;
  --background-modifier-hover: none;
  --background-modifier-selected: none;
  --background-primary: none;
  --background-secondary: none;
  --background-tertiary: none;
  --bg-base-primary: none;
  --bg-base-secondary: none;
  --bg-base-tertiary: none;
  --bg-brand: none;
  --bg-mod-faint: none;
  --bg-mod-strong: none;
  --bg-mod-subtle: none;
  --border-faint: none;
  --border-strong: none;
  --border-subtle: none;
  --button-danger-background: none;
  --button-danger-background-active: none;
  --button-danger-background-disabled: none;
  --button-danger-background-hover: none;
  --button-danger-border: none;
  --button-filled-brand-border: none;
  --button-filled-brand-inverted-background-active: none;
  --button-filled-brand-inverted-background-hover: none;
  --button-filled-brand-inverted-text:none;
  --button-filled-white-background-active: none;
  --button-filled-white-background-hover: none;
  --button-filled-white-text: none;
  --button-outline-danger-background: none;
  --button-outline-danger-background-active: none;
  --button-outline-danger-background-hover: none;
  --button-outline-danger-border: none;
  --button-outline-danger-border-active: none;
  --button-outline-danger-border-hover: none;
  --button-outline-danger-text: none;
  --button-outline-danger-text-active: none;
  --button-outline-danger-text-hover: none;
  --button-positive-background: none;
  --button-positive-background-active: none;
  --button-positive-background-disabled: none;
  --button-positive-background-hover: none;
  --button-positive-border:none;
  --button-secondary-background: none;
  --button-secondary-background-active: none;
  --button-secondary-background-disabled: none;
  --button-secondary-background-hover: none;
  --button-secondary-text: none;
  --button-transparent-background: none;
  --button-transparent-background-active: none;
  --button-transparent-background-hover: none;
  --button-transparent-text: none;
  --card-primary-bg: none;
  --card-secondary-bg: none;
  --channel-icon: none;
  --channels-default: none;
  --header-muted: none;
  --header-primary: none;
  --header-secondary: none;
  --icon-muted: none;
  --icon-primary: none;
  --icon-secondary: none;
  --info-danger-background: none;
  --info-danger-text: none;
  --info-help-background: none;
  --info-help-text: none;
  --info-positive-background: none;
  --info-positive-text: none;
  --info-warning-background: none;
  --info-warning-text: none;
  --input-background: none;
  --input-border: none;
  --input-focused-border: none;
  --input-placeholder-text: none;
  --interactive-active: none;
  --interactive-hover: none;
  --interactive-normal: none;
  --mention-background: none;
  --mention-foreground: none;
  --message-reacted-background: none;
  --message-reacted-text: none;
  --modal-background: none;
  --modal-footer-background: none;
  --premium-nitro-pink-text: none;
  --scrollbar-auto-scrollbar-color-thumb: none;
  --scrollbar-auto-scrollbar-color-track: none;
  --scrollbar-auto-thumb: none;
  --scrollbar-auto-track: none;
  --scrollbar-thin-thumb: none;
  --spine-default: none;
  --spoiler-hidden-background: var(--neutral-36);
  --text-brand: var(--blurple-25);
  --text-link: var(--blue-new-26);
  --text-muted: var(--neutral-22);
  --text-normal: var(--neutral-9);
  --text-positive: var(--green-new-24);
  --text-primary: var(--neutral-1);
  --text-secondary: var(--neutral-16);
  --text-warning: var(--yellow-new-22);
  --user-profile-background-hover: none;
  --user-profile-overlay-background: none;
  --user-profile-overlay-background-hover: none;
  --app-background-frame: none;
  --app-border-frame: none;
  --background-base-low: none;
  --background-base-lower: none;
  --background-base-lowest: none;
  --background-code: none;
  --background-code-addition: none;
  --background-code-deletion: none;
  --background-feedback-critical: none;
  --background-feedback-info: none;
  --background-feedback-positive: none;
  --background-feedback-warning: none;
  --background-mod-faint: none;
  --background-mod-normal:none;
  --background-mod-strong:none;
  --background-mod-subtle:none;
  --background-surface-high: none;
  --background-surface-higher: none;
  --background-surface-highest: none;
  --border-feedback-critical: none;
  --border-normal: none;
  --chat-background-default: none;
  --chat-text-muted: var(--neutral-27);
  --checkbox-background-checked: none;
  --checkbox-background-default: none;
  --checkbox-border-checked: var(--blurple-50);
  --checkbox-border-default: var(--neutral-34);
  --icon-default: var(--neutral-2);
  --icon-tertiary: var(--neutral-22);
  --notice-background-critical: var(--red-new-74);
  --notice-background-info: var(--blue-new-76);
  --notice-background-positive: var(--green-new-76);
  --notice-background-warning: var(--yellow-new-75);
  --notice-text-critical: var(--red-new-1);
  --notice-text-info: var(--blue-new-1);
  --notice-text-positive: var(--green-new-1);
  --notice-text-warning: var(--yellow-new-1);
  --spoiler-hidden-background-hover: var(--neutral-27);
  --text-code-addition:none;
  --text-code-builtin: none;
  --text-code-bullet: none;
  --text-code-comment: none;
  --text-code-default: none;
 --text-code-deletion:none;
 --text-code-keyword: none;
 --text-code-section: none;
 --text-code-string:none;
 --text-code-tag: none;
  --text-code-title: none;
  --text-code-variable: none;
  --text-default: none;
  --text-feedback-critical: none;
  --text-feedback-info: none;
  --text-feedback-positive:none;
  --text-feedback-warning: none;
  --text-tertiary: rgba(0,0,0,.3)
}

@supports (color: color-mix(in lch,red,blue)) {
    .visual-refresh .theme-dark, .visual-refresh.theme-dark {
        --activity-card-background: none;
        --autocomplete-bg: none;
        --background-floating: none;
        --background-mentioned: color-mix(in oklab,hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --background-mentioned-hover: color-mix(in oklab,hsl(var(--opacity-yellow-4-hsl)/0.0392156862745098) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0392156862745098) var(--theme-base-color-amount,0%));
        --background-message-highlight: color-mix(in oklab,hsl(var(--opacity-blurple-16-hsl)/0.1607843137254902) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.1607843137254902) var(--theme-base-color-amount,0%));
        --background-message-highlight-hover: color-mix(in oklab,hsl(var(--opacity-blurple-12-hsl)/0.12156862745098039) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.12156862745098039) var(--theme-base-color-amount,0%));
        --background-message-hover: none;
        --background-primary:;
        --background-secondary: none;
        --background-tertiary: none;
        --bg-base-primary: none;
        --bg-base-secondary: none;
        --bg-base-tertiary: none;
        --bg-mod-faint: none;
        --bg-mod-strong: none;
        --bg-mod-subtle: none;
        --border-faint: none;
        --border-strong: color-mix(in oklab,hsl(var(--opacity-44-hsl)/0.4392156862745098) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.4392156862745098) var(--theme-base-color-amount,0%));
        --border-subtle: color-mix(in oklab,hsl(var(--opacity-12-hsl)/0.12156862745098039) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.12156862745098039) var(--theme-base-color-amount,0%));
        --card-primary-bg: none;
        --card-secondary-bg: none;
        --channel-icon: color-mix(in oklab,var(--neutral-27) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --channels-default: color-mix(in oklab,var(--neutral-27) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --header-muted: color-mix(in oklab,var(--neutral-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --header-primary: color-mix(in oklab,var(--neutral-1) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --header-secondary: color-mix(in oklab,var(--neutral-9) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --icon-muted: color-mix(in oklab,var(--neutral-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --icon-primary: color-mix(in oklab,var(--neutral-2) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --icon-secondary: color-mix(in oklab,var(--neutral-16) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --info-danger-background: color-mix(in oklab,hsl(var(--opacity-red-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --info-danger-text: color-mix(in oklab,var(--red-new-21) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --info-help-background: color-mix(in oklab,hsl(var(--opacity-blue-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --info-help-text: color-mix(in oklab,var(--blue-new-24) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --info-positive-background: color-mix(in oklab,hsl(var(--opacity-green-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --info-positive-text: color-mix(in oklab,var(--green-new-24) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --info-warning-background: color-mix(in oklab,hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --info-warning-text: color-mix(in oklab,var(--yellow-new-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --input-background: color-mix(in oklab,hsl(var(--opacity-black-20-hsl)/0.2) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.2) var(--theme-base-color-amount,0%));
        --input-border: none;
        --input-focused-border: color-mix(in oklab,hsl(var(--white-hsl)/0.04) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.04) var(--theme-base-color-amount,0%));
        --input-placeholder-text: color-mix(in oklab,var(--neutral-32) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --interactive-active: color-mix(in oklab,var(--neutral-1) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --interactive-hover: color-mix(in oklab,var(--neutral-1) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --interactive-normal: color-mix(in oklab,var(--neutral-16) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --mention-background: color-mix(in oklab,hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.23921568627450981) var(--theme-base-color-amount,0%));
        --mention-foreground: color-mix(in oklab,var(--blurple-8) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --message-reacted-background: color-mix(in oklab,hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.23921568627450981) var(--theme-base-color-amount,0%));
        --message-reacted-text: color-mix(in oklab,var(--blurple-2) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --modal-background: none;
        --modal-footer-background: none;
        --premium-nitro-pink-text: color-mix(in oklab,var(--pink-33) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --scrollbar-auto-scrollbar-color-thumb: color-mix(in oklab,var(--neutral-38) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --scrollbar-auto-scrollbar-color-track: color-mix(in oklab,var(--neutral-74) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --scrollbar-auto-thumb: color-mix(in oklab,var(--neutral-36) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --scrollbar-auto-track: color-mix(in oklab,hsl(var(--transparent-hsl)/0) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0) var(--theme-base-color-amount,0%));
        --scrollbar-thin-thumb: color-mix(in oklab,var(--neutral-38) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --spine-default: color-mix(in oklab,hsl(var(--opacity-44-hsl)/0.4392156862745098) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.4392156862745098) var(--theme-base-color-amount,0%));
        --spoiler-hidden-background: color-mix(in oklab,var(--neutral-36) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --text-brand: color-mix(in oklab,var(--blurple-25) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-link: color-mix(in oklab,var(--blue-new-26) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-muted: color-mix(in oklab,var(--neutral-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-normal: color-mix(in oklab,var(--neutral-9) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-positive: color-mix(in oklab,var(--green-new-24) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-primary: color-mix(in oklab,var(--neutral-1) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-secondary: color-mix(in oklab,var(--neutral-16) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-warning: color-mix(in oklab,var(--yellow-new-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --user-profile-background-hover: none;
        --user-profile-overlay-background: color-mix(in oklab,var(--neutral-60) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --user-profile-overlay-background-hover: none;
        --app-background-frame: color-mix(in oklab,var(--neutral-78) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --app-border-frame: color-mix(in oklab,hsl(var(--opacity-12-hsl)/0.12156862745098039) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.12156862745098039) var(--theme-base-color-amount,0%));
        --background-base-low: none;
        ;
        --background-base-lower: none;
        ;
        --background-base-lowest: none;
        --background-code: color-mix(in oklab,hsl(var(--opacity-blurple-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --background-code-addition: color-mix(in oklab,hsl(var(--opacity-green-12-hsl)/0.12156862745098039) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.12156862745098039) var(--theme-base-color-amount,0%));
        --background-code-deletion: color-mix(in oklab,hsl(var(--opacity-red-12-hsl)/0.12156862745098039) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.12156862745098039) var(--theme-base-color-amount,0%));
        --background-feedback-critical: color-mix(in oklab,hsl(var(--opacity-red-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --background-feedback-info: color-mix(in oklab,hsl(var(--opacity-blue-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --background-feedback-positive: color-mix(in oklab,hsl(var(--opacity-green-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --background-feedback-warning: color-mix(in oklab,hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--theme-base-color-amount,0%));
        --background-surface-high: none;
        --background-surface-higher: color-mix(in oklab,var(--neutral-62) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --background-surface-highest: color-mix(in oklab,var(--neutral-60) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --border-feedback-critical: color-mix(in oklab,hsl(var(--opacity-red-20-hsl)/0.2) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.2) var(--theme-base-color-amount,0%));
        --border-normal: none;
        --chat-background-default: none;
        --chat-text-muted: color-mix(in oklab,var(--neutral-27) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --checkbox-background-checked: color-mix(in oklab,var(--blurple-50) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --checkbox-background-default: none;
        --checkbox-border-checked: color-mix(in oklab,var(--blurple-50) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --checkbox-border-default: color-mix(in oklab,var(--neutral-34) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --icon-default: color-mix(in oklab,var(--neutral-2) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --icon-tertiary: color-mix(in oklab,var(--neutral-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --notice-background-critical: color-mix(in oklab,var(--red-new-74) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --notice-background-info: color-mix(in oklab,var(--blue-new-76) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --notice-background-positive: color-mix(in oklab,var(--green-new-76) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --notice-background-warning: color-mix(in oklab,var(--yellow-new-75) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --notice-text-critical: color-mix(in oklab,var(--red-new-1) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --notice-text-info: color-mix(in oklab,var(--blue-new-1) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --notice-text-positive: color-mix(in oklab,var(--green-new-1) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --notice-text-warning: color-mix(in oklab,var(--yellow-new-1) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --spoiler-hidden-background-hover: color-mix(in oklab,var(--neutral-27) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%));
        --text-code-addition: color-mix(in oklab,var(--green-new-15) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-builtin: color-mix(in oklab,var(--orange-new-13) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-bullet: color-mix(in oklab,var(--yellow-new-14) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-comment: color-mix(in oklab,var(--neutral-25) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-default: color-mix(in oklab,var(--blue-new-15) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-deletion: color-mix(in oklab,var(--red-new-11) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-keyword: color-mix(in oklab,var(--red-new-11) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-section: color-mix(in oklab,var(--blue-new-15) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-string: color-mix(in oklab,var(--teal-new-16) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-tag: color-mix(in oklab,var(--green-new-12) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-title: color-mix(in oklab,var(--blurple-9) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-code-variable: color-mix(in oklab,var(--blue-new-10) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-default: color-mix(in oklab,var(--neutral-9) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-feedback-critical: color-mix(in oklab,var(--red-new-21) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-feedback-info: color-mix(in oklab,var(--blue-new-24) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-feedback-positive: color-mix(in oklab,var(--green-new-24) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-feedback-warning: color-mix(in oklab,var(--yellow-new-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%));
        --text-tertiary: color-mix(in oklab,var(--neutral-22) 100%,var(--theme-text-color,#000) var(--theme-text-color-amount,0%))
    }
}

/* end of section */
