/* Global Overrides */
.visual-refresh.theme-dark, .visual-refresh.theme-light{
  --header-primary: var(--Main-Colour);
}

/* User Status around avatar */
:root {
  /* Spacing between avatar and status */
  --status-spacing-members: 2px;
  --status-spacing-popout: 3px;
  --status-spacing-profile: 4px;
  /* Thickness of the status border */
  --status-width-members: 2px;
  --status-width-popout: 3px;
  --status-width-profile: 4px;
  /* Avatar shape (50% = round, 0% = square) */
  --status-avatar-shape: 25%;
  /* Status colors */
  --status-color-online: #43b581;
  --status-color-idle: #faa61a;
  --status-color-dnd: #f04747;
  --status-color-offline: #636b75;
  --status-color-streaming: #643da7;
  --status-color-invisible: #747f8d;
  --status-color-speaking: #57d39b;
  --status-color-phone: var(--status-color-online);
  /* Other settings */
  --status-phone-visible: block;
}

#app-mount .wrapper__44b0c,
#app-mount .wrapper__44b0c img,
#app-mount .wrapper__44b0c.avatar__91a9d {
  border-radius: var(--status-avatar-shape);
}

#app-mount .wrapper__44b0c svg:not(:root) {
  overflow: visible;
  contain: none;
}

#app-mount .wrapper__44b0c foreignObject {
  -webkit-mask: none;
  mask: none;
}

#app-mount .wrapper__44b0c .dots__5ad89 circle {
  cy: -8 !important;
}

#app-mount .wrapper__44b0c .dots__5ad89 circle:nth-child(1) {
  cx: -8.5 !important;
}

#app-mount .wrapper__44b0c .dots__5ad89 circle:nth-child(2) {
  cx: -2.25 !important;
}

#app-mount .wrapper__44b0c .dots__5ad89 circle:nth-child(3) {
  cx: 4 !important;
}

#app-mount .wrapper__44b0c .mask__44b0c>rect[x="22"] {
  x: 0;
  y: 0;
}

#app-mount .wrapper__44b0c .mask__44b0c>circle {
  opacity: 0 !important;
  width: 100%;
  height: 100%;
  cx: 43%;
  cy: 20;
}

#app-mount .wrapper__44b0c .pointerEvents__44b0c[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important;
  width: var(--status-members-width, 30px);
  height: var(--status-members-width, 30px);
  x: calc(var(--status-members-width, 30px) / 2 / -1 + 2px);
  y: calc(var(--status-members-width, 30px) / 2 / -1);
}

#app-mount .wrapper__44b0c svg[width="25"][height="15"]>rect {
  rx: calc(var(--status-avatar-shape) * 2) !important;
  ry: calc(var(--status-avatar-shape) * 2) !important;
}

#app-mount .wrapper__44b0c[style*="80px"],
#app-mount .wrapper__44b0c[style*="120px"] svg.cursorDefault__44b0c rect {
  ry: calc(var(--status-avatar-shape) * 3.3);
  rx: calc(var(--status-avatar-shape) * 3.3);
}

#app-mount .wrapper__44b0c rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
  mask: none;
  display: block;
  rx: var(--status-avatar-shape);
  ry: var(--status-avatar-shape);
  fill: transparent !important;
  stroke-width: var(--status-width-members);
}

#app-mount .wrapper__44b0c rect[fill="#23a55a"],
#app-mount .wrapper__44b0c rect[fill="#40a258"] {
  stroke: var(--status-color-online);
}

#app-mount .wrapper__44b0c rect[fill="#f0b232"],
#app-mount .wrapper__44b0c rect[fill="#cc954c"] {
  stroke: var(--status-color-idle);
}

#app-mount .wrapper__44b0c rect[fill="#f23f43"],
#app-mount .wrapper__44b0c rect[fill="#d83a41"] {
  stroke: var(--status-color-dnd);
}

#app-mount .wrapper__44b0c rect[fill="#593695"],
#app-mount .wrapper__44b0c rect[mask*=streaming],
#app-mount .wrapper__44b0c rect[fill*="var(--status-purple"] {
  stroke: var(--status-color-streaming);
}

#app-mount .wrapper__44b0c rect[fill="#80848e"] {
  stroke: var(--status-color-offline);
}

#app-mount .wrapper__44b0c rect[fill="#82858f"],
#app-mount .wrapper__44b0c rect[fill="#82838b"] {
  stroke: var(--status-color-invisible);
}

#app-mount .wrapper__44b0c rect[x="16"] {
  width: 24px;
  height: 24px;
}

#app-mount .wrapper__44b0c rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}

#app-mount .wrapper__44b0c[style*="32px"] rect {
  width: 32px;
  height: 32px;
  x: -14.5;
  y: -17;
  position: relative;
  z-index: 0;
}

#app-mount .wrapper__44b0c[style*="40px"]>svg>svg rect {
  width: 40px;
  height: 40px;
  x: -19;
  y: -20;
  ry: calc(var(--status-avatar-shape) * 3.3);
  rx: calc(var(--status-avatar-shape) * 3.3);
}

#app-mount .wrapper__44b0c[style*="40px"] foreignObject[mask*=mobile] img {
  width: calc(100% - 18px);
}

#app-mount .wrapper__44b0c[style*="80px"] svg.cursorDefault__44b0c rect {
  x: -48;
  y: -52;
}

#app-mount .wrapper__44b0c[style*="80px"] rect {
  width: 80px;
  height: 80px;
  stroke-width: var(--status-width-popout);
}

#app-mount .wrapper__44b0c[style*="80px"] img {
  clip-path: inset(calc(var(--status-spacing-popout) + 1px) calc(var(--status-spacing-popout) + 1px) round var(--status-avatar-shape));
}

#app-mount .wrapper__44b0c[style*="120px"] svg.cursorDefault__44b0c rect {
  x: -70;
  y: -76;
}

#app-mount .wrapper__44b0c[style*="120px"] rect {
  width: 120px;
  height: 120px;
  stroke-width: var(--status-width-profile);
  pointer-events: none;
}

#app-mount .wrapper__44b0c[style*="120px"] img {
  clip-path: inset(calc(var(--status-spacing-profile) + 1px) calc(var(--status-spacing-profile) + 1px) round var(--status-avatar-shape));
}

#app-mount .wrapper__44b0c:not([style*="80px;"], [style*="120px;"], [style*="16px"])>svg>foreignObject:not(:only-child) img {
  clip-path: inset(calc(var(--status-spacing-members) + 1px) calc(var(--status-spacing-members) + 1px) round var(--status-avatar-shape));
}

#app-mount .wrapper__44b0c[style="width: 16px; height: 16px;"] rect {
  display: none;
}

#app-mount .wrapper__44b0c[style="width: 16px; height: 16px;"] img {
  clip-path: none;
}

#app-mount .wrapper__44b0c foreignObject[mask*=mobile] {
  property: inherit;
}

#app-mount .wrapper__44b0c foreignObject[mask*=mobile][width="24"]:after {
  width: 10px;
  height: 12px;
  top: 30%;
}

#app-mount .wrapper__44b0c foreignObject[mask*=mobile][width="32"]:after {
  width: 10px;
  height: 14px;
  top: 30%;
}

#app-mount .wrapper__44b0c foreignObject[mask*=mobile][width="80"]:after {
  width: 14px;
  height: 18px;
}

#app-mount .wrapper__44b0c foreignObject[mask*=mobile][width="120"]:after {
  width: 24px;
  height: 20px;
}

#app-mount .wrapper__44b0c foreignObject[mask*=mobile]:after {
  content: "";
  display: var(--status-phone-visible, block);
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg...') center no-repeat;
  mask: url('data:image/svg+xml; utf-8,<svg...') center no-repeat;
}

/* Home Icon */
.listItemWrapper__91816>div>svg>foreignObject>div>div {
  content: "";
  -webkit-mask: var(--Home-Icon-Mask);
  -webkit-mask-size: 50% !important;
  -webkit-mask-position: 50% !important;
  -webkit-mask-repeat: no-repeat !important;
  mask: var(--Home-Icon-Mask);
  mask-size: 50% !important;
  mask-position: 50% !important;
  mask-repeat: no-repeat !important;
  background-image: none !important;
  fill: var(--Secondary-Main-Colour) !important;
  background-color: var(--Secondary-Main-Colour) !important;
  color: var(--Secondary-Main-Colour) !important;
}

/* Better User Pannel */
.panels_c48ade {
  left: var(--space-sm) !important;
  height: 57px !important;
  width: 56px !important;
  border-radius: 30px !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
  transition-duration: 0.35s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle) !important;

  &:has(.container_e131a9) {
    border: 1px solid var(--border-normal);
  }
}

.wrapper_e131a9 {
  height: 0;
  overflow: hidden;
}

.panels_c48ade:hover {
  width: 300px !important;
  height: auto !important;
  display: flex !important;
  flex-direction: column;
  border-radius: 15px !important;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.123));
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  .wrapper_e131a9 {
    height: auto !important;
  }
}

.sidebar_c48ade {
  overflow: visible !important;
}

.container__2637a {
  padding-bottom: 0px !important;
}

.scroller__99e7c {
  margin-bottom: 0px !important;
}

.bottom__7aaec {
  bottom: 0px !important;
}

.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {
  opacity: 0;
  transform: scale(0);
  transform-origin: left;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  will-change: opacity, transform;
}

.visual-refresh [class^="panels_"]:hover [class^="container__"] [class^="buttons__"] {
  transform: scale(1);
  opacity: 1;
}

.visual-refresh .panel__5dec7 {
  display: none;
}

.visual-refresh [class^="panels_"]:hover .panel__5dec7 {
  display: block;
}

/* Title bar Update Text */
.title__85643>.defaultColor__4bd52::after {
  content: " | " var(--Theme-Variant) " | " var(--Update-Text);
}

/* Change Log [Settings > my account] */
#my-account-tab>div>div::after {
  margin-top: 10px;
  margin-bottom: -3px;
  padding-top: 10px;
  padding-left: 10px;
  left: 20%;
  margin-left: -5px;
  position: absolute;
  display: block;
  background: linear-gradient(to top, var(--Main-Colour), var(--Secondary-Main-Colour));
  border: 1px solid var(--Main-Colour);
  border-radius: 5px;
  content: var(--ChangelogSize) var(--Theme-Variant)", " var(--Update-Text);
  text-align: center;
  animation: UploaderBG 10s infinite linear;
  z-index: 9997;
  color: var(--Main-Colour);
  width: 50%;
  -webkit-mask: var(--Changelog);
  -webkit-mask-repeat: no-repeat;
  mask: var(--Changelog);
  mask-repeat: no-repeat;
  background-size: 100% 100% !important;
}

/* Settings Background */
.contentRegion__23e6b,
.visual-refresh .sidebarRegionScroller__23e6b {
  background-color: var(--Secondary-Background-Colour) !important;
}

.visual-refresh .standardSidebarView__23e6b {
  background: var(--Settings-Background) 50% 50%/cover;
}

.visual-refresh .contentRegionScroller__23e6b {
  background: transparent;
}

/* Settings Tabs */
.visual-refresh .side_b3f026 .themed_b3f026.selected_b3f026.item_b3f026,
.visual-refresh .side_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026) {
  background: linear-gradient(135deg, var(--Secondary-Main-Colour) 0%, var(--Secondary-Background-Colour) 100%);
  color: var(--Main-Colour);
  box-shadow: 0 2px 8px var(--Secondary-Background-Colour);
}

.visual-refresh .side_b3f026 .themed_b3f026.item_b3f026 {
  background: linear-gradient(135deg, var(--Secondary-Background-Colour) 0%, var(--Secondary-Main-Colour) 100%);
  color: var(--Secondary-Main-Colour);
  box-shadow: 0 2px 8px var(--Secondary-Background-Colour);
}

/* My Account Tab */
#account_security_tab-tab>div.accountProfileCard__1fed1>div.background__1fed1, 
#account_security_tab-tab>div.accountProfileCard__1fed1 {
  background: var(--Secondary-Background-Colour);
}

#account_security_tab-tab>div.accountProfileCard__1fed1>div.background__1fed1>div {
  background: transparent;
}

:where(.visual-refresh) .h5_b717a1{
  color: var(--Main-Colour);
}

/* Chat Background */
.members_c8ffbb,.visual-refresh .chatContent_f75fb0,.bar_c38106,.sidebar_c48ade {
  background-color: var(--Secondary-Background-Colour) !important;
}

.layer__960e4.baseLayer__960e4 {
  background: var(--Chat-Background) 50% 50%/cover;
}

.visual-refresh .chat_f75fb0,.members_c8ffbb,.container_c8ffbb {
  background: transparent;
}

.member_c8ffbb,.clickable__91a9d:hover .childContainer__91a9d {
  background: var(--Secondary-Background-Colour,var(--custom-channel-members-bg));
}
