/**
 * @name 420
 * @author NFLD99
 * @version ersion auto updates
 * @description Thank you for choosing NFLD Inc!
 * @source https://github.com/NFLD99/Better-Discord
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite zqRpUyepHh
*/
/* Source Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/rewrite.css);

:root {
  --Main-Colour: rgba(253, 228, 129, 1);
  --Background-Colour: rgba(56, 93, 125, 1);
  --Secondary-Background-Colour: rgba(56, 93, 125, .5);
  --Secondary-Main-Colour: rgba(253, 228, 129, .5);
  --Text-Shadow-Colour: rgba(56, 93, 125, .65);
  --Scroller-Colour: rgba(253, 228, 129, 0.25);
  --Notification-Colour: rgba(253, 228, 129, 1);
  --Chat-Input-Background: rgba(56, 93, 125, 0);
  --Chat-Input-Colour: var(--Main-Colour);
  --Unread-Message-1: var(--Main-Colour);
  --Unread-Message-2: var(--Background-Colour);
  --Chat-Background: url(https://uploads.nfld99.com/ShareX/F2l1KIsOAS.png);
  --Settings-Background: url(https://uploads.nfld99.com/ShareX/F2l1KIsOAS.png);
  --Callout-Background: url(https://uploads.nfld99.com/ShareX/F2l1KIsOAS.png);
  --Theme-Variant: " 420";
  --Chat-Font-Used: "Whitney";
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour: var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--Secondary-Background-Colour);
  --File-Update-Text: "2025/05/02";
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 2;
  --Background-Darkness: 0.25;
}

/* ========================================================================================= */
