/* Ace Rimmer#6993 */
.NFLDIncChatUser[nfldincchatuser="197406501264949248"]::before,
[nfldincmemberuser="197406501264949248"]::before,
[nfldincchanneluser="197406501264949248"]::before {
	content: url(https://nfld99.com/Boops/Ace_Rimmer.png)
}

.NFLDIncChatUser[nfldincchatuser="197406501264949248"]::after,
[nfldincmemberuser="197406501264949248"]::after,
[nfldincchanneluser="197406501264949248"]::after {
	content: "Placeholder. \a Placeholder. \a Placeholder."
}

[nfldincpopoutuser="197406501264949248"],
[nfldincmodaluser="197406501264949248"],
[nfldincfrienduser="197406501264949248"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/Ace_Rimmer.png) 50% 50%/cover !important
}

[nfldincpopoutuser="197406501264949248"] *,
[nfldincmodaluser="197406501264949248"] *,
[nfldincfrienduser="197406501264949248"] * {
	color: rgb(161, 10, 69) !important;
	border-color: rgb(161, 10, 69) !important
}