/* Ace Rimmer#6993 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="197406501264949248"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="197406501264949248"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="197406501264949248"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/Ace_Rimmer.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="197406501264949248"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="197406501264949248"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="197406501264949248"]::after {
	content: "Hey I'm Ace Rimmer. \a Smoke me a kipper, \a I'll be back for breakfast"
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="197406501264949248"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/Ace_Rimmer.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="197406501264949248"] * {
	color: rgb(161,10,69) !important;
	border-color: rgb(161,10,69) !important
}
/* Ace Rimmer#6993 */