/* Ansemik_CZE#9175 */
.NFLDIncChatUser[nfldincchatuser="123119491461677057"]::before,
[nfldincmemberuser="123119491461677057"]::before,
[nfldincchanneluser="123119491461677057"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="123119491461677057"]::after,
[nfldincmemberuser="123119491461677057"]::after,
[nfldincchanneluser="123119491461677057"]::after {
	content: "Just an tiger with wings \a and a furry lover. Im freindly \a and i like to help people."
}

[nfldincpopoutuser="123119491461677057"],
[nfldincmodaluser="123119491461677057"],
[nfldincfrienduser="123119491461677057"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="123119491461677057"] *,
[nfldincmodaluser="123119491461677057"] *,
[nfldincfrienduser="123119491461677057"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}