/* .ASN_RuBiiX.#0001 */
.NFLDIncChatUser[nfldincchatuser="367707174991953922"]::before,
[nfldincmemberuser="367707174991953922"]::before,
[nfldincchanneluser="367707174991953922"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="367707174991953922"]::after,
[nfldincmemberuser="367707174991953922"]::after,
[nfldincchanneluser="367707174991953922"]::after {
	content: "I havnt set up my boop yet!"
}

[nfldincpopoutuser="367707174991953922"],
[nfldincmodaluser="367707174991953922"],
[nfldincfrienduser="367707174991953922"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="367707174991953922"] *,
[nfldincmodaluser="367707174991953922"] *,
[nfldincfrienduser="367707174991953922"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}