/* Biskup#3183 */
.NFLDIncChatUser[nfldincchatuser="335902720961675275"]::before,
[nfldincmemberuser="335902720961675275"]::before,
[nfldincchanneluser="335902720961675275"]::before {
	content: url(https://i.imgur.com/WPtIfcG.jpg)
}

.NFLDIncChatUser[nfldincchatuser="335902720961675275"]::after,
[nfldincmemberuser="335902720961675275"]::after,
[nfldincchanneluser="335902720961675275"]::after {
	content: "I Have Not Set Up My Boop Yet!"
}

[nfldincpopoutuser="335902720961675275"],
[nfldincmodaluser="335902720961675275"],
[nfldincfrienduser="335902720961675275"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="335902720961675275"] *,
[nfldincmodaluser="335902720961675275"] *,
[nfldincfrienduser="335902720961675275"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}