/* BLACKROOSTER#1395 */
.NFLDIncChatUser[nfldincchatuser="167462879975571456"]::before,
[nfldincmemberuser="167462879975571456"]::before,
[nfldincchanneluser="167462879975571456"]::before {
	content: url(https://nfld99.com/Boops/BLACKROOSTER.png)
}

.NFLDIncChatUser[nfldincchatuser="167462879975571456"]::after,
[nfldincmemberuser="167462879975571456"]::after,
[nfldincchanneluser="167462879975571456"]::after {
	content: "I am the darkest rooster! \a I stream on \a twitch.tv/blackrooster \a 1st Donator"
}

[nfldincpopoutuser="167462879975571456"],
[nfldincmodaluser="167462879975571456"],
[nfldincfrienduser="167462879975571456"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="167462879975571456"] *,
[nfldincmodaluser="167462879975571456"] *,
[nfldincfrienduser="167462879975571456"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}