/* breadcat#6969 */
.NFLDIncChatUser[nfldincchatuser="200330618666483712"]::before,
[nfldincmemberuser="200330618666483712"]::before,
[nfldincchanneluser="200330618666483712"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="200330618666483712"]::after,
[nfldincmemberuser="200330618666483712"]::after,
[nfldincchanneluser="200330618666483712"]::after {
	content: "Heya I'm breadcat. \a Yall should be my friend bc \a I'm a good friend \a and bc bread cats are great."
}

[nfldincpopoutuser="200330618666483712"],
[nfldincmodaluser="200330618666483712"],
[nfldincfrienduser="200330618666483712"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="200330618666483712"] *,
[nfldincmodaluser="200330618666483712"] *,
[nfldincfrienduser="200330618666483712"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}