/* Cpt_Corde#1945 */
.NFLDIncChatUser[nfldincchatuser="254843046066257930"]::before,
[nfldincmemberuser="254843046066257930"]::before,
[nfldincchanneluser="254843046066257930"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="254843046066257930"]::after,
[nfldincmemberuser="254843046066257930"]::after,
[nfldincchanneluser="254843046066257930"]::after {
	content: "Borger \a Vorer of Worlds"
}

[nfldincpopoutuser="254843046066257930"],
[nfldincmodaluser="254843046066257930"],
[nfldincfrienduser="254843046066257930"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="254843046066257930"] *,
[nfldincmodaluser="254843046066257930"] *,
[nfldincfrienduser="254843046066257930"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}