/* DevilBro#4401 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278543574059057154"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278543574059057154"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="278543574059057154"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/DevilBro.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278543574059057154"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278543574059057154"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="278543574059057154"]::after {
	content: "Hello Im DevilBro! \a I Am A Plugin Dev. \a I Never Miss A Day At The Gym."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="278543574059057154"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="278543574059057154"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* DevilBro#4401 */