/* DevilBro#4401 */
.NFLDIncChatUser[nfldincchatuser="278543574059057154"]::before,
[nfldincmemberuser="278543574059057154"]::before,
[nfldincchanneluser="278543574059057154"]::before {
	content: url(https://nfld99.com/Boops/DevilBro.png)
}

.NFLDIncChatUser[nfldincchatuser="278543574059057154"]::after,
[nfldincmemberuser="278543574059057154"]::after,
[nfldincchanneluser="278543574059057154"]::after {
	content: "Hello Im DevilBro! \a I Am A Plugin Dev. \a I Never Miss A Day At The Gym."
}

[nfldincpopoutuser="278543574059057154"],
[nfldincmodaluser="278543574059057154"],
[nfldincfrienduser="278543574059057154"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="278543574059057154"] *,
[nfldincmodaluser="278543574059057154"] *,
[nfldincfrienduser="278543574059057154"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}