/* DevilsLynAvenged#6457 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="235302947058089984"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="235302947058089984"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="235302947058089984"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/DevilsLynAvenged.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="235302947058089984"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="235302947058089984"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="235302947058089984"]::after {
	content: "Hello Im DevilsLynAvenged! \a I Am A Theme Dev. \a I Normally Have An Anime PFP."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="235302947058089984"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="235302947058089984"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* DevilsLynAvenged#6457 */