/* Dovaah#0101 */
.NFLDIncChatUser[nfldincchatuser="278003549537959939"]::before,
[nfldincmemberuser="278003549537959939"]::before,
[nfldincchanneluser="278003549537959939"]::before {
	content: url(https://nfld99.com/Boops/Dovaah.gif)
}

.NFLDIncChatUser[nfldincchatuser="278003549537959939"]::after,
[nfldincmemberuser="278003549537959939"]::after,
[nfldincchanneluser="278003549537959939"]::after {
	content: "Hail to the king"
}

[nfldincpopoutuser="278003549537959939"],
[nfldincmodaluser="278003549537959939"],
[nfldincfrienduser="278003549537959939"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/Dovaah.png) 50% 50%/cover !important
}

[nfldincpopoutuser="278003549537959939"] *,
[nfldincmodaluser="278003549537959939"] *,
[nfldincfrienduser="278003549537959939"] * {
	color: purple !important;
	border-color: purple !important
}