/* Dovaah#0101 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278003549537959939"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278003549537959939"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="278003549537959939"]::before {
	content: url(https://nfld99.com/Boops/Dovaah.gif)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278003549537959939"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="278003549537959939"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="278003549537959939"]::after {
	content: "Hail to the king"
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="278003549537959939"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/Dovaah.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="278003549537959939"] * {
	color: purple !important;
	border-color: purple !important
}
/* Dovaah#0101 */