/* DragonStryder#7331 */
.NFLDIncChatUser[nfldincchatuser="221342508133777408"]::before,
[nfldincmemberuser="221342508133777408"]::before,
[nfldincchanneluser="221342508133777408"]::before {
	content: url(https://nfld99.com/Boops/DragonStryder.png)
}

.NFLDIncChatUser[nfldincchatuser="221342508133777408"]::after,
[nfldincmemberuser="221342508133777408"]::after,
[nfldincchanneluser="221342508133777408"]::after {
	content: "Dragons and legends... \a It would have been difficult for \a any man not to want to fight \a beside a dragon."
}

[nfldincpopoutuser="221342508133777408"],
[nfldincmodaluser="221342508133777408"],
[nfldincfrienduser="221342508133777408"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="221342508133777408"] *,
[nfldincmodaluser="221342508133777408"] *,
[nfldincfrienduser="221342508133777408"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}