@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ace_Rimmer.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ansemik_CZE.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/ASN_RuBiiX.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Biskup.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/BLACKROOSTER.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/breadcat.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Cpt_Corde.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilBro.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Dovaah.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DragonStryder.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/FirePhox.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/GasmisenFeik.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/GhostieSpook.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/hammy.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Harbringer.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Heedrakiller.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Hypnotic.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Idriss7734.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/jjjman33.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kiari.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kingless.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Krekevyks_1337.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/KUSH.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Mewt.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Mio.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/mxngxxse.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/NFLD99.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/RookieRabit338.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/RoV_ZeRo.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Satela.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Shiz.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Sleepy.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Spin.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/square.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Theory.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Tsuki-Humura.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/uri.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Zerebos.css);

/* Easter Egg */
.ragingDemon-10qP1U,
.symbolBackground-3ozYSg {
  margin-bottom: -3px;
  padding-top: 2%;
  padding-left: 23%;
  display: block;
  animation: EasterEggRainbow 10s linear infinite;
  background: url(https://nfld99.com/Bkg/jyEFAiO.jpg) 50% 50%/cover !important;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 365" style="width:100%;height:100px;"><g style="fill: rgba(155,89,182,1); font-size: .8em; font-family:verdana"><text y="20" style="font-size: 2em; fill: rgba(155,89,182,1);">Thank you for using my theme!</text><text y="45" style="font-size: 1.1em;" x="180">Donators:</text><text y="65" style="font-size: 1.1em;" x="0">.ASN_RuBiiX.</text><text y="85" style="font-size: 1.1em;" x="0">Ansemik_CZE</text><text y="105" style="font-size: 1.1em;" x="0">BLACKROOSTER</text><text y="125" style="font-size: 1.1em;" x="0">Berger</text><text y="145" style="font-size: 1.1em;" x="0">Biskup</text><text y="165" style="font-size: 1.1em;" x="0">breadcat</text><text y="185" style="font-size: 1.1em;" x="0">Cloud</text><text y="205" style="font-size: 1.1em;" x="0">ContingencyCactus</text><text y="225" style="font-size: 1.1em;" x="0">Dovaah</text><text y="245" style="font-size: 1.1em;" x="0">DragonStryder</text><text y="265" style="font-size: 1.1em;" x="0">Enma Ai</text><text y="285" style="font-size: 1.1em;" x="0">FirePhox</text><text y="305" style="font-size: 1.1em;" x="0">GasmisenFeik</text><text y="325" style="font-size: 1.1em;" x="0">GhostieSpook</text><text y="345" style="font-size: 1.1em;" x="0">Kiari</text><text y="65" style="font-size: 1.1em;" x="145">Krekevyks1337</text><text y="85" style="font-size: 1.1em;" x="145">mxngxxse</text><text y="105" style="font-size: 1.1em;" x="145">RookieRabbit338</text><text y="125" style="font-size: 1.1em;" x="145">Sleepy</text><text y="145" style="font-size: 1.1em;" x="145">Spin!</text><text y="165" style="font-size: 1.1em;" x="145">The-Shiz</text><text y="185" style="font-size: 1.1em;" x="145">Theory</text><text y="205" style="font-size: 1.1em;" x="145">νHﾒpͥήoͣtͫic</text></g></svg>') !important;
}

@keyframes EasterEggRainbow {
  from {
    -webkit-filter: hue-rotate(0)
  }

  to {
    -webkit-filter: hue-rotate(360deg)
  }
}

.keyboardShortcutList-3VFAYS > div:nth-last-child(1) > div:nth-last-child(1) > .keybindDescription-oXh6w_:after {
  content: "<3 Donator Easter Egg <3";
  font-size: 12px;
}

.keyboardShortcutList-3VFAYS > div:nth-last-child(1) > div:nth-last-child(1) > .keybindDescription-oXh6w_ {
  font-size: 0;
}

[nfldinccurrentuser="123119491461677057"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="123119491461677057"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="148059412165033984"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="150927669809250305"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="163363674948370434"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="167462879975571456"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="191595592772747265"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="192507720199307265"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="197406501264949248"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="199196567989649408"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="200330618666483712"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="219363409097916416"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="221342508133777408"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="235792008763932672"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="237616896948699136"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="249746236008169473"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="254843046066257930"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="256531049222242304"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="259407045734694912"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="278003549537959939"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="278543574059057154"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="291079492171071489"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="302208662812884993"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="302837596600664065"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="311480381046128641"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="322808739096690691"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="325746166518251530"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="335902720961675275"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="347156061859348481"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="350845478134611971"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="367707174991953922"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="419677528437817345"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="460764041254666245"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="486284269652803614"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="510928078889943062"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="73958666050482176"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="794323828687503370"] * .accountProfileCard-lbN7n-::after,
[nfldinccurrentuser="801417053151428668"] * .accountProfileCard-lbN7n-::after {
  color: var(--Main-Colour) !important;
  content: var(--Theme-Variant)", " var(--Update-Text)", Thank you for your support! " !important;
}

.NFLDIncChatUser[nfldincchatuser]::after,
[nfldincmemberuser]::after,
[nfldincchanneluser]::after {
  white-space: pre;
  background-color: var(--Background-Colour) !important;
  box-shadow: 1px 1px 15px rgba(0, 216, 86, 0.9) !important;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 3000000;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: 80ms ease;
  color: var(--Main-Colour);
  opacity: 0;
  animation: rainbow 3s infinite linear;
}

.NFLDIncChatUser[nfldincchatuser]::after {
  white-space: pre;
  background-color: var(--Background-Colour) !important;
  box-shadow: 1px 1px 15px rgba(0, 216, 86, 0.9) !important;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 3000000;
  display: inline;
  position: relative;
  left: 15px;
  top: 0;
  transform: translate(54px, -60px);
  pointer-events: none;
  transition: 80ms ease;
  color: var(--Main-Colour);
  opacity: 0;
  animation: rainbow 3s infinite linear;
}

.NFLDIncChatUser[nfldincchatuser]:hover::after,
[nfldincmemberuser]:hover::after,
[nfldincchanneluser]:hover::after {
  opacity: 1;
  transition: 180ms ease-in-out 100ms;
  animation: boop .5s 1 linear;
}

.NFLDIncChatUser[nfldincchatuser]:not(:hover)::after,
[nfldincmemberuser]:not(:hover)::after,
[nfldincchanneluser]:not(:hover)::after {
  opacity: 0;
  transition: 180ms ease-in-out 150ms;
  animation: boop2 .5s 1 linear;
}

.NFLDIncChatUser[nfldincchatuser],
[nfldincmemberuser],
[nfldincchanneluser] {
  cursor: pointer;
}

.NFLDIncChatUser[nfldincchatuser]::before,
[nfldincmemberuser]::before,
[nfldincchanneluser]::before {
  color: rgba(0, 255, 0, .3);
  font-size: 13px;
  z-index: 3;
  position: absolute;
  transform: translate(54px, -7px);
  cursor: pointer;
  transition: 100ms ease;
  pointer-events: initial;
  animation: Brainbow 3s infinite linear;
}

[nfldincmemberuser]::before,
[nfldincchanneluser]::before {
  transform: translate(-9px, 12px);
}

.NFLDIncChatUser[nfldincchatuser]::before,
.NFLDIncChatUser[nfldincchatuser]::after,
[nfldincmemberuser]::before,
[nfldincmemberuser]::after,
[nfldincchanneluser]::before,
[nfldincchanneluser]::after {
  display: inline-block !important;
}

.NFLDIncChatUser[nfldincchatuser] {
  height: 0;
  width: 0;
}