@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/NFLD99.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/RookieRabit338.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/BLACKROOSTER.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilBro.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilsLynAvenged.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kiari.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Mewt.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Strato.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/hammy.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/mxngxxse.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/square.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/uri.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Cpt_Corde.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/FirePhox.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/breadcat.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/GhostieSpook.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Satela.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/PoroUsedSnow.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DragonStryder.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/RoV_ZeRo.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Shiz.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Lil_Devil.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ace_Rimmer.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/KUSH.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ansemik_CZE.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Hypnotic.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kingless.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Krekevyks_1337.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/StratoBotElite.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Theory.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Spin.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Harbringer.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/jjjman33.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Dovaah.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Zerebos.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/BannerBomb.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Biskup.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Heedrakiller.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/ASN_RuBiiX.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Sleepy.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/GasmisenFeik.css);

/* New donator stuff */

[class*="topSection"] .image-33JSyf + .status-oxiHuE:before {
  top:100%;
  height:150px;
  width:100%;
  position:absolute;
  pointer-events:none;
  z-index:1;
  -webkit-mask: linear-gradient(black 40%, transparent);
  color: var(--Main-Colour);
  transition: all 200ms;
  animation: CLog 10s infinite linear;
} 

[class*="topSection"] .image-33JSyf + .status-oxiHuE {
  opacity:1 !important;
}

[class*="topSection"] .image-33JSyf,[class*="topSection"] .actionButton-3W1xZa,[class*="topSection"] .nameTag-2IFDfL,[class*="topSection"] .profileBadgeWrapper-rl_RO6,[class*="topSection"] .additionalActionsIcon-1FoUlE,.BDFDB-textscroll {
  z-index:2;
  position:relative;
}


/* Easter Egg */
.ragingDemon-bDcoXE,.symbolBackground-1w6i-M{
  margin-bottom: -3px;
  padding-top: 2%;
  padding-left: 23%;
	display: block;
	animation: EasterEggRainbow 10s linear infinite;
  background: url(https://nfld99.com/Bkg/jyEFAiO.jpg) 50% 50%/cover !important;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 345" style="width:100%;height:100px;"><g style="fill: rgba(155,89,182,1); font-size: .8em; font-family:verdana"><text y="20" style="font-size: 2em; fill: rgba(155,89,182,1);">Thank you for using my theme!</text><text y="45" style="font-size: 1.1em;" x="0">Donators:</text><text y="65" style="font-size: 1.1em;" x="0">Ace_Rimmer.</text><text y="65" style="font-size: 1.1em;" x="115">Ansemik_CZE.</text><text y="65" style="font-size: 1.1em;" x="247">ASN_RuBiiX.</text><text y="85" style="font-size: 1.1em;" x="0">BannerBomb.</text><text y="85" style="font-size: 1.1em;" x="115">Biskup.</text><text y="85" style="font-size: 1.1em;" x="247">BLACKROOSTER.</text><text y="105" style="font-size: 1.1em;" x="0">breadcat.</text><text y="105" style="font-size: 1.1em;" x="115">Cpt_Corde.</text><text y="105" style="font-size: 1.1em;" x="247">Dovaah.</text><text y="125" style="font-size: 1.1em;" x="0">DragonStryder.</text><text y="125" style="font-size: 1.1em;" x="115">FirePhox.</text><text y="125" style="font-size: 1.1em;" x="247">GasmisenFeik.</text><text y="145" style="font-size: 1.1em;" x="0">GhostieSpook.</text><text y="145" style="font-size: 1.1em;" x="115">Harbringer.</text><text y="145" style="font-size: 1.1em;" x="247">Heedrakiller.</text><text y="165" style="font-size: 1.1em;" x="0">Hypnotic.</text><text y="165" style="font-size: 1.1em;" x="115">jjjman33.</text><text y="165" style="font-size: 1.1em;" x="247">Kiari.</text><text y="185" style="font-size: 1.1em;" x="0">Kingless.</text><text y="185" style="font-size: 1.1em;" x="115">Krekevyks_1337.</text><text y="185" style="font-size: 1.1em;" x="247">KUSH.</text><text y="205" style="font-size: 1.1em;" x="0">Lil_Devil.</text><text y="205" style="font-size: 1.1em;" x="115">Mewt.</text><text y="205" style="font-size: 1.1em;" x="247">mxngxxse.</text><text y="225" style="font-size: 1.1em;" x="0">PoroUsedSnow.</text><text y="225" style="font-size: 1.1em;" x="115">RoV_ZeRo.</text><text y="225" style="font-size: 1.1em;" x="247">Satela.</text><text y="245" style="font-size: 1.1em;" x="0">Shiz.</text><text y="245" style="font-size: 1.1em;" x="115">Sleepy.</text><text y="245" style="font-size: 1.1em;" x="247">Spin.</text><text y="265" style="font-size: 1.1em;" x="0">Strato.</text><text y="265" style="font-size: 1.1em;" x="115">Theory.</text></g></svg>');
}

@keyframes EasterEggRainbow {
  from {
    -webkit-filter: hue-rotate(0)
  }
  to {
    -webkit-filter: hue-rotate(360deg)
  }
}

/* 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 345" style="width:100%;height:100px;"><g style="fill: rgba(155,89,182,1); font-size: .8em; font-family:verdana">
<text y="20" style="font-size: 2em; fill: rgba(155,89,182,1);">Thank you for using my theme!</text>
<text y="45" style="font-size: 1.1em;" x="0">Donators:</text>
<text y="65" style="font-size: 1.1em;" x="0">Ace_Rimmer.</text>
<text y="65" style="font-size: 1.1em;" x="115">Ansemik_CZE.</text>
<text y="65" style="font-size: 1.1em;" x="247">ASN_RuBiiX.</text>
<text y="85" style="font-size: 1.1em;" x="0">BannerBomb.</text>
<text y="85" style="font-size: 1.1em;" x="115">Biskup.</text>
<text y="85" style="font-size: 1.1em;" x="247">BLACKROOSTER.</text>
<text y="105" style="font-size: 1.1em;" x="0">breadcat.</text>
<text y="105" style="font-size: 1.1em;" x="115">Cpt_Corde.</text>
<text y="105" style="font-size: 1.1em;" x="247">Dovaah.</text>
<text y="125" style="font-size: 1.1em;" x="0">DragonStryder.</text>
<text y="125" style="font-size: 1.1em;" x="115">FirePhox.</text>
<text y="125" style="font-size: 1.1em;" x="247">GasmisenFeik.</text>
<text y="145" style="font-size: 1.1em;" x="0">GhostieSpook.</text>
<text y="145" style="font-size: 1.1em;" x="115">Harbringer.</text>
<text y="145" style="font-size: 1.1em;" x="247">Heedrakiller.</text>
<text y="165" style="font-size: 1.1em;" x="0">Hypnotic.</text>
<text y="165" style="font-size: 1.1em;" x="115">jjjman33.</text>
<text y="165" style="font-size: 1.1em;" x="247">Kiari.</text>
<text y="185" style="font-size: 1.1em;" x="0">Kingless.</text>
<text y="185" style="font-size: 1.1em;" x="115">Krekevyks_1337.</text>
<text y="185" style="font-size: 1.1em;" x="247">KUSH.</text>
<text y="205" style="font-size: 1.1em;" x="0">Lil_Devil.</text>
<text y="205" style="font-size: 1.1em;" x="115">Mewt.</text>
<text y="205" style="font-size: 1.1em;" x="247">mxngxxse.</text>
<text y="225" style="font-size: 1.1em;" x="0">PoroUsedSnow.</text>
<text y="225" style="font-size: 1.1em;" x="115">RoV_ZeRo.</text>
<text y="225" style="font-size: 1.1em;" x="247">Satela.</text>
<text y="245" style="font-size: 1.1em;" x="0">Shiz.</text>
<text y="245" style="font-size: 1.1em;" x="115">Sleepy.</text>
<text y="245" style="font-size: 1.1em;" x="247">Spin.</text>
<text y="265" style="font-size: 1.1em;" x="0">Strato.</text>
<text y="265" style="font-size: 1.1em;" x="115">Theory.</text>
</g></svg>
*/

.keyboardShortcutList-13cQ-8 > div:nth-last-child(1) > .keybindDescription-2RDbC2:after {
  content: "<3 Donator Easter Egg <3";
  font-size: 12px;
}

.keyboardShortcutList-13cQ-8 > div:nth-last-child(1) > .keybindDescription-2RDbC2 {
  font-size: 0;
}

/* Add Thank you to account page */
[nfldinccurrentuser="241406754737487873"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="197406501264949248"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="123119491461677057"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="167462879975571456"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="200330618666483712"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="254843046066257930"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="235302947058089984"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="221342508133777408"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="350845478134611971"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="235792008763932672"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="419677528437817345"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="73958666050482176"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="486284269652803614"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="237616896948699136"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="510928078889943062"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="493932895367331843"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="525899880053342219"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="325746166518251530"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="150927669809250305"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="151490253692076032"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="191595592772747265"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="302208662812884993"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="322808739096690691"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="322758556946530304"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="602406235848835073"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="192507720199307265"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="311480381046128641"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="199196567989649408"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="460764041254666245"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="278003549537959939"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="269247101697916939"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="335902720961675275"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="163363674948370434"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="367707174991953922"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="335660322658582540"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="483413721876529174"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="801417053151428668"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="493938960192634880"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="794323828687503370"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldinccurrentuser="291079492171071489"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,

/* Top = old | bottom = new */

[nfldinccurrentuser="483413721876529174"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="801417053151428668"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="493938960192634880"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="794323828687503370"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="241406754737487873"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="197406501264949248"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="123119491461677057"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="167462879975571456"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="200330618666483712"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="254843046066257930"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="235302947058089984"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="221342508133777408"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="350845478134611971"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="235792008763932672"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="419677528437817345"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="73958666050482176"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="486284269652803614"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="237616896948699136"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="510928078889943062"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="493932895367331843"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="525899880053342219"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="325746166518251530"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="150927669809250305"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="151490253692076032"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="191595592772747265"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="302208662812884993"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="322808739096690691"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="322758556946530304"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="602406235848835073"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="192507720199307265"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="311480381046128641"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="199196567989649408"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="460764041254666245"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="278003549537959939"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="269247101697916939"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="335902720961675275"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="163363674948370434"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="367707174991953922"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="335660322658582540"] *[layer-id="user-settings"] .background-1QDuV2:before,
[nfldinccurrentuser="291079492171071489"] *[layer-id="user-settings"] .background-1QDuV2:before
{
  color: var(--Main-Colour)!important;;
  content: var(--Theme-Variant)", "var(--Update-Text)", Thank you for your support! "!important;
}
/* Donators */
[nfldincpopoutuser="197406501264949248"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="123119491461677057"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="167462879975571456"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="200330618666483712"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="254843046066257930"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="235302947058089984"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="221342508133777408"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="350845478134611971"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="235792008763932672"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="419677528437817345"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="73958666050482176"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="486284269652803614"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="237616896948699136"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="510928078889943062"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="493932895367331843"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="525899880053342219"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="325746166518251530"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="150927669809250305"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="151490253692076032"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="191595592772747265"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="302208662812884993"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="322808739096690691"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="322758556946530304"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="602406235848835073"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="192507720199307265"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="311480381046128641"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="199196567989649408"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="460764041254666245"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="278003549537959939"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="269247101697916939"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="335902720961675275"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="163363674948370434"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="367707174991953922"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="335660322658582540"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="291079492171071489"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 250 15" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">Donator</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* BD Plugin/Theme Devs */
[nfldincpopoutuser="278543574059057154"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="256531049222242304"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="219363409097916416"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="148059412165033984"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 250 15" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">BD Plugin/Theme Dev</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* BDDev */
[nfldincpopoutuser="249746236008169473"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 250 15" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">BD Dev</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* Meeeeeeeeee */
[nfldincpopoutuser="483413721876529174"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="801417053151428668"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="493938960192634880"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after,
[nfldincpopoutuser="794323828687503370"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 250 15" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">Developer</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* SBE */
[nfldincpopoutuser="602406235848835073"] > div > .topSectionNormal-2-vo2m > header > .headerInfo-30uryT::after
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 250 15" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">https://sbebot.com/</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* ============================== Plugin Stuff ============================== */
.clickable-1JJAn8 .layout-2DM8Md > .NFLDIncChatUser::after,
.selected-aXhQR6 .layout-2DM8Md > .NFLDIncChatUser::after{
  white-space: pre;
  background-color: var(--Background-Colour) !important;
  box-shadow: 1px 1px 15px rgba(0, 216, 86, 0.9)!important;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 3000000;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: 80ms ease;
  color: var(--Main-Colour);
  opacity: 0;
  animation: rainbow 3s infinite linear;
}

.contents-2mQqc9 > .NFLDIncChatUser::after{
  white-space: pre;
  background-color: var(--Background-Colour) !important;
  box-shadow: 1px 1px 15px rgba(0, 216, 86, 0.9)!important;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 3000000;
  display: inline;
  position: relative;
  left: 15px;
  top: 0;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: 80ms ease;
  color: var(--Main-Colour);
  opacity: 0;
  animation: rainbow 3s infinite linear;
}

.clickable-1JJAn8 .layout-2DM8Md > .NFLDIncChatUser:hover::after,
.selected-aXhQR6 .layout-2DM8Md > .NFLDIncChatUser:hover::after,
.contents-2mQqc9 > .NFLDIncChatUser::after {
  opacity: 1;
  transition: 180ms ease-in-out 100ms;
  animation: boop .5s 1 linear;
}

.clickable-1JJAn8 .layout-2DM8Md > .NFLDIncChatUser:not(:hover)::after,
.selected-aXhQR6 .layout-2DM8Md > .NFLDIncChatUser:not(:hover)::after,
.contents-2mQqc9 > .NFLDIncChatUser:not(:hover)::after {
  opacity: 0;
  transition: 180ms ease-in-out 150ms;
  animation: boop2 .5s 1 linear;
}

.clickable-1JJAn8 .layout-2DM8Md > .NFLDIncChatUser,
.selected-aXhQR6 .layout-2DM8Md > .NFLDIncChatUser,
.contents-2mQqc9 > .NFLDIncChatUser {
  cursor: pointer;
}

.clickable-1JJAn8 .layout-2DM8Md > .NFLDIncChatUser::before,
.selected-aXhQR6 .layout-2DM8Md > .NFLDIncChatUser::before {
  color: rgba(0, 255, 0, .3);
  font-size: 13px;
  z-index: 1;
  position: absolute;
  left: -2%!important;
  top: 63%;
  padding-left: 2px;
  padding-right: 4px;
  border-radius: 2px;
  margin-left: -3px;
  transform: translate(0, 1px);
  cursor: pointer;
  transition: 100ms ease;
  pointer-events: initial;
  animation: Brainbow 3s infinite linear;
}

.contents-2mQqc9 > .NFLDIncChatUser::before {
  color: rgba(0, 255, 0, .3);
  font-size: 13px;
  z-index: 1;
  position: relative;
  left: -18px;
  top: -2px;
  padding-left: 2px;
  padding-right: 4px;
  border-radius: 2px;
  margin-left: -3px;
  transform: translate(0, 1px);
  cursor: pointer;
  transition: 100ms ease;
  pointer-events: initial;
  animation: Brainbow 3s infinite linear;
}

.clickable-1JJAn8 .layout-2DM8Md > .NFLDIncChatUser::before,
.clickable-1JJAn8 .layout-2DM8Md > .NFLDIncChatUser::after,
.selected-aXhQR6 .layout-2DM8Md > .NFLDIncChatUser::before,
.selected-aXhQR6 .layout-2DM8Md > .NFLDIncChatUser::after,
.contents-2mQqc9 > .NFLDIncChatUser::before,
.contents-2mQqc9 > .NFLDIncChatUser::after {
  display: inline-block!important;
}

.NFLDIncChatUser{
  height: 0;
  width: 0;
}
/* ============================== Plugin Stuff ============================== */
