/* FirePhox#5261 */
.NFLDIncChatUser[nfldincchatuser="350845478134611971"]::before,
[nfldincmemberuser="350845478134611971"]::before,
[nfldincchanneluser="350845478134611971"]::before {
	content: url(https://nfld99.com/Boops/FirePhox.png)
}

.NFLDIncChatUser[nfldincchatuser="350845478134611971"]::after,
[nfldincmemberuser="350845478134611971"]::after,
[nfldincchanneluser="350845478134611971"]::after {
	content: "Hello. My name is FirePhox. \a I am an internet browser."
}

[nfldincpopoutuser="350845478134611971"],
[nfldincmodaluser="350845478134611971"],
[nfldincfrienduser="350845478134611971"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="350845478134611971"] *,
[nfldincmodaluser="350845478134611971"] *,
[nfldincfrienduser="350845478134611971"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}