/* GasmisenFeik#4229 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="291079492171071489"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="291079492171071489"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="291079492171071489"]::before {
	content: url(https://nfld99.com/Boops/GasmisenFeik.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="291079492171071489"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="291079492171071489"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="291079492171071489"]::after {
	content: "Heya, I'm Jeanie! \a And I'm a pretty chill dude \a To end off, 'Legitty Titty'"
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="291079492171071489"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/GasmisenFeik.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="291079492171071489"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* GasmisenFeik#4229 */