/* GasmisenFeik#4229 */
.NFLDIncChatUser[nfldincchatuser="291079492171071489"]::before,
[nfldincmemberuser="291079492171071489"]::before,
[nfldincchanneluser="291079492171071489"]::before {
	content: url(https://nfld99.com/Boops/GasmisenFeik.png)
}

.NFLDIncChatUser[nfldincchatuser="291079492171071489"]::after,
[nfldincmemberuser="291079492171071489"]::after,
[nfldincchanneluser="291079492171071489"]::after {
	content: "Heya, I'm Jeanie! \a And I'm a pretty chill dude \a To end off, 'Legitty Titty'"
}

[nfldincpopoutuser="291079492171071489"],
[nfldincmodaluser="291079492171071489"],
[nfldincfrienduser="291079492171071489"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/GasmisenFeik.png) 50% 50%/cover !important
}

[nfldincpopoutuser="291079492171071489"] *,
[nfldincmodaluser="291079492171071489"] *,
[nfldincfrienduser="291079492171071489"] * {
	color: #009580 !important;
	border-color: #009580 !important
}