/* GhostieSpook#6565 */
.NFLDIncChatUser[nfldincchatuser="235792008763932672"]::before,
[nfldincmemberuser="235792008763932672"]::before,
[nfldincchanneluser="235792008763932672"]::before {
	content: url(https://nfld99.com/Boops/GhostieSpook.png)
}

.NFLDIncChatUser[nfldincchatuser="235792008763932672"]::after,
[nfldincmemberuser="235792008763932672"]::after,
[nfldincchanneluser="235792008763932672"]::after {
	content: "Tis a spook \a Teh spooky spook :>."
}

[nfldincpopoutuser="235792008763932672"],
[nfldincmodaluser="235792008763932672"],
[nfldincfrienduser="235792008763932672"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/GhostieSpook.png) 50% 50%/cover !important
}

[nfldincpopoutuser="235792008763932672"] *,
[nfldincmodaluser="235792008763932672"] *,
[nfldincfrienduser="235792008763932672"] * {
	color: rgb(140,24,75) !important;
	border-color: rgb(140,24,75) !important
}