/* hammy#2400 */
.NFLDIncChatUser[nfldincchatuser="256531049222242304"]::before,
[nfldincmemberuser="256531049222242304"]::before,
[nfldincchanneluser="256531049222242304"]::before {
	content: url(https://nfld99.com/Boops/hammy.png)
}

.NFLDIncChatUser[nfldincchatuser="256531049222242304"]::after,
[nfldincmemberuser="256531049222242304"]::after,
[nfldincchanneluser="256531049222242304"]::after {
	content: "Hello Im Hammy! \a I Am A Plugin Dev. \a I Also Do Like Ham."
}

[nfldincpopoutuser="256531049222242304"],
[nfldincmodaluser="256531049222242304"],
[nfldincfrienduser="256531049222242304"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="256531049222242304"] *,
[nfldincmodaluser="256531049222242304"] *,
[nfldincfrienduser="256531049222242304"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}