/* hammy#2400 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="256531049222242304"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="256531049222242304"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="256531049222242304"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/hammy.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="256531049222242304"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="256531049222242304"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="256531049222242304"]::after {
	content: "Hello Im Hammy! \a I Am A Plugin Dev. \a I Also Do Like Ham."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="256531049222242304"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="256531049222242304"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* hammy#2400 */