/* Harbringer#9999 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="460764041254666245"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="460764041254666245"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="460764041254666245"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="460764041254666245"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="460764041254666245"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="460764041254666245"]::after {
	content: "Placeholder. \a Placeholder. \a Placeholder."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="460764041254666245"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="460764041254666245"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* Harbringer#9999 */