/* Harbringer#9999 */
.NFLDIncChatUser[nfldincchatuser="460764041254666245"]::before,
[nfldincmemberuser="460764041254666245"]::before,
[nfldincchanneluser="460764041254666245"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="460764041254666245"]::after,
[nfldincmemberuser="460764041254666245"]::after,
[nfldincchanneluser="460764041254666245"]::after {
	content: "Placeholder. \a Placeholder. \a Placeholder."
}

[nfldincpopoutuser="460764041254666245"],
[nfldincmodaluser="460764041254666245"],
[nfldincfrienduser="460764041254666245"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="460764041254666245"] *,
[nfldincmodaluser="460764041254666245"] *,
[nfldincfrienduser="460764041254666245"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}