/* Heedrakiller#1937 */
.NFLDIncChatUser[nfldincchatuser="163363674948370434"]::before,
[nfldincmemberuser="163363674948370434"]::before,
[nfldincchanneluser="163363674948370434"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="163363674948370434"]::after,
[nfldincmemberuser="163363674948370434"]::after,
[nfldincchanneluser="163363674948370434"]::after {
	content: "I Have Not Set Up My Boop Yet!"
}

[nfldincpopoutuser="163363674948370434"],
[nfldincmodaluser="163363674948370434"],
[nfldincfrienduser="163363674948370434"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="163363674948370434"] *,
[nfldincmodaluser="163363674948370434"] *,
[nfldincfrienduser="163363674948370434"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}