/* νHﾒpͥήoͣtͫic#6666 */
.NFLDIncChatUser[nfldincchatuser="419677528437817345"]::before,
[nfldincmemberuser="419677528437817345"]::before,
[nfldincchanneluser="419677528437817345"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="419677528437817345"]::after,
[nfldincmemberuser="419677528437817345"]::after,
[nfldincchanneluser="419677528437817345"]::after {
	content: "It is both a blessing and a curse, \a to feel everything so very deeply."
}

[nfldincpopoutuser="419677528437817345"],
[nfldincmodaluser="419677528437817345"],
[nfldincfrienduser="419677528437817345"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="419677528437817345"] *,
[nfldincmodaluser="419677528437817345"] *,
[nfldincfrienduser="419677528437817345"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}