/* Idriss7734#3234 */
.NFLDIncChatUser[nfldincchatuser="347156061859348481"]::before,
[nfldincmemberuser="347156061859348481"]::before,
[nfldincchanneluser="347156061859348481"]::before {
	content: url(https://i.imgur.com/3VjcSoT.png)
}

.NFLDIncChatUser[nfldincchatuser="347156061859348481"]::after,
[nfldincmemberuser="347156061859348481"]::after,
[nfldincchanneluser="347156061859348481"]::after {
	content: "Nobody is innocent, there are \a merely varying levels of guilt.\a I'm Idriss"
}

[nfldincpopoutuser="347156061859348481"],
[nfldincmodaluser="347156061859348481"],
[nfldincfrienduser="347156061859348481"] {
	background: url(https://i.imgur.com/A6wA3if.jpg) 50% 50%/cover !important
}

[nfldincpopoutuser="347156061859348481"] *,
[nfldincmodaluser="347156061859348481"] *,
[nfldincfrienduser="347156061859348481"] * {
	color:  #696969 !important;
	border-color:  #696969 !important;
}