/* Idriss7734#3234 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="347156061859348481"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="347156061859348481"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="347156061859348481"]::before {
	content: url(https://nfld99.com/Boops/Theory.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="347156061859348481"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="347156061859348481"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="347156061859348481"]::after {
	content: "Future Author,\a Imperialist,\a and Dr. Pepper Addict."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="347156061859348481"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/Theory.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="347156061859348481"] * {
	color: red !important;
	border-color: red !important
}
/* Idriss7734#3234 */