/* jjjman33#4295 */
.NFLDIncChatUser[nfldincchatuser="199196567989649408"]::before,
[nfldincmemberuser="199196567989649408"]::before,
[nfldincchanneluser="199196567989649408"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="199196567989649408"]::after,
[nfldincmemberuser="199196567989649408"]::after,
[nfldincchanneluser="199196567989649408"]::after {
	content: "Placeholder. \a Placeholder. \a Placeholder."
}

[nfldincpopoutuser="199196567989649408"],
[nfldincmodaluser="199196567989649408"],
[nfldincfrienduser="199196567989649408"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="199196567989649408"] *,
[nfldincmodaluser="199196567989649408"] *,
[nfldincfrienduser="199196567989649408"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}