/* Kiari#1204 */
.NFLDIncChatUser[nfldincchatuser="73958666050482176"]::before,
[nfldincmemberuser="73958666050482176"]::before,
[nfldincchanneluser="73958666050482176"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="73958666050482176"]::after,
[nfldincmemberuser="73958666050482176"]::after,
[nfldincchanneluser="73958666050482176"]::after {
	content: "Music Artist \a The greatest of all time."
}

[nfldincpopoutuser="73958666050482176"],
[nfldincmodaluser="73958666050482176"],
[nfldincfrienduser="73958666050482176"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="73958666050482176"] *,
[nfldincmodaluser="73958666050482176"] *,
[nfldincfrienduser="73958666050482176"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}