/* ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜#0923 */
.NFLDIncChatUser[nfldincchatuser="486284269652803614"]::before,
[nfldincmemberuser="486284269652803614"]::before,
[nfldincchanneluser="486284269652803614"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="486284269652803614"]::after,
[nfldincmemberuser="486284269652803614"]::after,
[nfldincchanneluser="486284269652803614"]::after {
	content: "Placeholder. \a Placeholder. \a Placeholder."
}

[nfldincpopoutuser="486284269652803614"],
[nfldincmodaluser="486284269652803614"],
[nfldincfrienduser="486284269652803614"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="486284269652803614"] *,
[nfldincmodaluser="486284269652803614"] *,
[nfldincfrienduser="486284269652803614"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}