/* ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜#0923 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="486284269652803614"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="486284269652803614"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="486284269652803614"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="486284269652803614"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="486284269652803614"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="486284269652803614"]::after {
	content: "Placeholder, \a Placeholder."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="486284269652803614"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="486284269652803614"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜#0923 */