/* Krekevyks 1337#5342 */
.NFLDIncChatUser[nfldincchatuser="237616896948699136"]::before,
[nfldincmemberuser="237616896948699136"]::before,
[nfldincchanneluser="237616896948699136"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="237616896948699136"]::after,
[nfldincmemberuser="237616896948699136"]::after,
[nfldincchanneluser="237616896948699136"]::after {
	content: "Hi I'm Krekevyks. \a I am 1337."
}

[nfldincpopoutuser="237616896948699136"],
[nfldincmodaluser="237616896948699136"],
[nfldincfrienduser="237616896948699136"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="237616896948699136"] *,
[nfldincmodaluser="237616896948699136"] *,
[nfldincfrienduser="237616896948699136"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}