/* KUSH#0101 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="510928078889943062"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="510928078889943062"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="510928078889943062"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/ChaChing.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="510928078889943062"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="510928078889943062"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="510928078889943062"]::after {
	content: "Hey I'm KUSH! \a Just when you get time \a all i need is error: 404"
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="510928078889943062"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="510928078889943062"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* KUSH#0101 */