/* KUSH#0101 */
.NFLDIncChatUser[nfldincchatuser="510928078889943062"]::before,
[nfldincmemberuser="510928078889943062"]::before,
[nfldincchanneluser="510928078889943062"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="510928078889943062"]::after,
[nfldincmemberuser="510928078889943062"]::after,
[nfldincchanneluser="510928078889943062"]::after {
	content: "Hey I'm KUSH! \a Just when you get time \a all i need is error: 404"
}

[nfldincpopoutuser="510928078889943062"],
[nfldincmodaluser="510928078889943062"],
[nfldincfrienduser="510928078889943062"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="510928078889943062"] *,
[nfldincmodaluser="510928078889943062"] *,
[nfldincfrienduser="510928078889943062"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}