/* Meowster Mewt#0817 */
.NFLDIncChatUser[nfldincchatuser="325746166518251530"]::before,
[nfldincmemberuser="325746166518251530"]::before,
[nfldincchanneluser="325746166518251530"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="325746166518251530"]::after,
[nfldincmemberuser="325746166518251530"]::after,
[nfldincchanneluser="325746166518251530"]::after {
	content: "Hello Im Mewt! \a When people hate, I just remember, \a I'm a furry, \a I embarrass myself every day! \a What can people say \a to make it worse?"
}

[nfldincpopoutuser="325746166518251530"],
[nfldincmodaluser="325746166518251530"],
[nfldincfrienduser="325746166518251530"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="325746166518251530"] *,
[nfldincmodaluser="325746166518251530"] *,
[nfldincfrienduser="325746166518251530"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}