/* Mio Naruse#0666 */
.NFLDIncChatUser[nfldincchatuser="259407045734694912"]::before,
[nfldincmemberuser="259407045734694912"]::before,
[nfldincchanneluser="259407045734694912"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="259407045734694912"]::after,
[nfldincmemberuser="259407045734694912"]::after,
[nfldincchanneluser="259407045734694912"]::after {
	content: "I am Mio \a People are too complicated \a  to have simple labels.”  \a ― Philip Pullman, The Amber Spyglass"
}

[nfldincpopoutuser="259407045734694912"],
[nfldincmodaluser="259407045734694912"],
[nfldincfrienduser="259407045734694912"] {
	background: url(https://i.imgur.com/9Ji8rpJ.jpg) 50% 50%/cover !important
}

[nfldincpopoutuser="259407045734694912"] *,
[nfldincmodaluser="259407045734694912"] *,
[nfldincfrienduser="259407045734694912"] * {
	color: #CA00F6 !important;
	border-color:#CA00F6 !important
}