/* NFLD99#0001 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="483413721876529174"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/NFLD99.svg)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="483413721876529174"]::after {
	content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://rabbisalt4.github.io/Testing-Discord/discord"
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="483413721876529174"]>div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/NFLD99v2.jpg) 50% 50%/contain no-repeat, url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="483413721876529174"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* NFLD99#0001 */

/* ======================================================================================================================================================================================================================*/

/* Pimp_Daddy_420#7023 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="801417053151428668"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="801417053151428668"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="801417053151428668"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/NFLD99.svg)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="801417053151428668"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="801417053151428668"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="801417053151428668"]::after {
	content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://rabbisalt4.github.io/Testing-Discord/discord"
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="801417053151428668"]>div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/NFLD99v2.jpg) 50% 50%/contain no-repeat, url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="801417053151428668"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* Pimp_Daddy_420#7023 */