
.NFLDIncChatUser[nfldincchatuser="801417053151428668"]::before,
[nfldincmemberuser="801417053151428668"]::before,
[nfldincchanneluser="801417053151428668"]::before {
  content: url(https://nfld99.com/Boops/NFLD99.svg)
}

.NFLDIncChatUser[nfldincchatuser="801417053151428668"]::after,
[nfldincmemberuser="801417053151428668"]::after,
[nfldincchanneluser="801417053151428668"]::after {
  content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://nfld99.com/discord"
}

[nfldincpopoutuser="801417053151428668"],
[nfldincmodaluser="801417053151428668"],
[nfldincfrienduser="801417053151428668"] {
  background: url(https://nfld99.com/Boops/PopoutBackgrounds/NFLD99v2.jpg) 50% 50%/contain no-repeat, url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="801417053151428668"] *,
[nfldincmodaluser="801417053151428668"] *,
[nfldincfrienduser="801417053151428668"] * {
  color: rgb(0, 172, 234) !important;
  border-color: rgb(0, 172, 234) !important
}