/* NFLD99[DEV]#0001 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="483413721876529174"]::before {
	content: url(https://nfld99.com/Boops/NFLD99.svg)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="483413721876529174"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="483413721876529174"]::after {
	content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://nfld99.com/discord"
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="483413721876529174"]>div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/NFLD99v2.jpg) 50% 50%/contain no-repeat, url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="483413721876529174"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* NFLD99[DEV]#0001 */

/* ====================================================================================================================================================================================================================== */

/* ÑFŁĐ99[ĐĒV]#7464 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="241406754737487873"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="241406754737487873"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="241406754737487873"]::before {
	content: url(https://nfld99.com/Boops/NFLD99.svg)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="241406754737487873"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="241406754737487873"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="241406754737487873"]::after {
	content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://nfld99.com/discord"
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="241406754737487873"]>div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/NFLD99v2.jpg) 50% 50%/contain no-repeat, url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="241406754737487873"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* ÑFŁĐ99[ĐĒV]#7464 */