/* PoroUsedSnow#1337 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="151490253692076032"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="151490253692076032"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="151490253692076032"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PoroUsedSnow.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="151490253692076032"]:hover::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="151490253692076032"]:hover::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="151490253692076032"]:hover::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PoroUsedSnow.gif)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="151490253692076032"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="151490253692076032"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="151490253692076032"]::after {
	content: "Heyo, I'm Poro! Got any Snax? \a Subpar Web Dev, Ahri is best girl"
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="151490253692076032"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="151490253692076032"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* PoroUsedSnow#1337 */