
.container-0,.container-1,.container-2,.container-3,.container-4,.container-5,.container-6,.container-7,.container-8,.container-9,.container-10,.container-11,.container-12,.container-13,.container-14,.container-15,.container-16,.container-17,.container-18,.container-19,.container-20,.containerCozy-jafyvG,.container-2Thooq,.container-1UB9sr,.guildsWrapper-5TJh6A,.header-2o-2hj,.title-3qD0b-, .titleCall-_b9o8P,.membersWrap-2h-GB4,.content-OzHfo4,.channel-2QD9_O a {
  border: 1px var(--Secondary-Main-Colour) solid;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 200ms;
}
.container-0:hover,.container-1:hover,.container-2:hover,.container-3:hover,.container-4:hover,.container-5:hover,.container-6:hover,.container-7:hover,.container-8:hover,.container-9:hover,.container-10:hover,.container-11:hover,.container-12:hover,.container-13:hover,.container-14:hover,.container-15:hover,.container-16:hover,.container-17:hover,.container-18:hover,.container-19:hover,.container-20:hover,.containerCozy-jafyvG:hover,.container-2Thooq:hover,.container-1UB9sr:hover,.guildsWrapper-5TJh6A:hover,.header-2o-2hj:hover,.title-3qD0b-:hover, .titleCall-_b9o8P:hover,.membersWrap-2h-GB4:hover,.content-OzHfo4:hover,.channel-2QD9_O a:hover {
  border: 1px var(--Main-Colour) solid;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: all 200ms;
}

.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l{
  padding-top: 5px;
}

.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS, .nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameHoveredText-1uO31y, .nameHoveredVoice-YJ1Vfd, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1, .nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5, .nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI, .private-channels .channel .channel-name, .private-channels .channel .channel-activity strong, .channel-2QD9_O.selected-1HYmZZ .name-2WpE7M, .channel-2QD9_O:hover .name-2WpE7M, .activity-525YDR, .theme-dark .activityActivityFeed-3xysim .content-3JfFJh, .theme-dark .activityActivityFeed-3xysim .details-38sfDr, .ellipsis-1XUmPN{
  line-height: initial;
}

.content-20Aix8{
  padding-right: 5px;
  padding-left: 5px;
  margin: 1px 5px 1px 5px;
}