/* Pimp_Mommy_420#3148 */
.NFLDIncChatUser[nfldincchatuser="794323828687503370"]::before,
[nfldincmemberuser="794323828687503370"]::before,
[nfldincchanneluser="794323828687503370"]::before {
	content: url(https://nfld99.com/Boops/NFLD99.svg)
}

.NFLDIncChatUser[nfldincchatuser="794323828687503370"]::after,
[nfldincmemberuser="794323828687503370"]::after,
[nfldincchanneluser="794323828687503370"]::after {
	content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://nfld99.com/discord"
}

[nfldincpopoutuser="794323828687503370"],
[nfldincmodaluser="794323828687503370"],
[nfldincfrienduser="794323828687503370"] {
	background: url(https://i.imgur.com/vSGYVnd.png) 50% 50%/contain no-repeat, url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="794323828687503370"] *,
[nfldincmodaluser="794323828687503370"] *,
[nfldincfrienduser="794323828687503370"] * {
	color: rgb(245, 112, 238) !important;
	border-color: rgb(250, 42, 239) !important
}