/* RookieRabit338#7005 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="493938960192634880"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="493938960192634880"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="493938960192634880"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/NFLD99.svg)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="493938960192634880"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="493938960192634880"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="493938960192634880"]::after {
	content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://rabbisalt4.github.io/Testing-Discord/discord"
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="493938960192634880"]>div {
	background: url(https://i.imgur.com/vSGYVnd.png) 50% 50%/contain no-repeat, url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="493938960192634880"] * {
	color: rgb(245, 112, 238) !important;
	border-color: rgb(250, 42, 239) !important
}
/* RookieRabit338#7005 */

/* ======================================================================================================================================================================================================================*/

/* Pimp_Mommy_420#3148 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="794323828687503370"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="794323828687503370"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="794323828687503370"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/NFLD99.svg)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="794323828687503370"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="794323828687503370"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="794323828687503370"]::after {
	content: "Hello I'm the theme developer \a If you have any issues please join \a the support server server! \a https://rabbisalt4.github.io/Testing-Discord/discord"
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="794323828687503370"]>div {
	background: url(https://i.imgur.com/vSGYVnd.png) 50% 50%/contain no-repeat, url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg>div.inner-1ilYF7[nfldincpopoutuser="794323828687503370"] * {
	color: rgb(245, 112, 238) !important;
	border-color: rgb(250, 42, 239) !important
}
/* Pimp_Mommy_420#3148 */