/* RoV ZeRo#1337 */
.NFLDIncChatUser[nfldincchatuser="191595592772747265"]::before,
[nfldincmemberuser="191595592772747265"]::before,
[nfldincchanneluser="191595592772747265"]::before {
	content: url(https://nfld99.com/Boops/RoV_ZeRo.png)
}

.NFLDIncChatUser[nfldincchatuser="191595592772747265"]::after,
[nfldincmemberuser="191595592772747265"]::after,
[nfldincchanneluser="191595592772747265"]::after {
	content: "Hey I'm ZeRo! \a I'm a cute boy who loves \a to play League. \a I host my own Community,\a Representative of Victory"
}

[nfldincpopoutuser="191595592772747265"],
[nfldincmodaluser="191595592772747265"],
[nfldincfrienduser="191595592772747265"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="191595592772747265"] *,
[nfldincmodaluser="191595592772747265"] *,
[nfldincfrienduser="191595592772747265"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}