/* Satela#1771 */
.NFLDIncChatUser[nfldincchatuser="302208662812884993"]::before,
[nfldincmemberuser="302208662812884993"]::before,
[nfldincchanneluser="302208662812884993"]::before {
	content: url(https://nfld99.com/Boops/Satela.png)
}

.NFLDIncChatUser[nfldincchatuser="302208662812884993"]::after,
[nfldincmemberuser="302208662812884993"]::after,
[nfldincchanneluser="302208662812884993"]::after {
	content: "Hi there, I'm Satela! \a Don't be envious of my charms,\a just let me play with you"
}

[nfldincpopoutuser="302208662812884993"],
[nfldincmodaluser="302208662812884993"],
[nfldincfrienduser="302208662812884993"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="302208662812884993"] *,
[nfldincmodaluser="302208662812884993"] *,
[nfldincfrienduser="302208662812884993"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}