/* Shiz#9686 */
.NFLDIncChatUser[nfldincchatuser="322808739096690691"]::before,
[nfldincmemberuser="322808739096690691"]::before,
[nfldincchanneluser="322808739096690691"]::before {
	content: url(https://nfld99.com/Boops/Shiz.png)
}

.NFLDIncChatUser[nfldincchatuser="322808739096690691"]::after,
[nfldincmemberuser="322808739096690691"]::after,
[nfldincchanneluser="322808739096690691"]::after {
	content: "Hey I'm The-Shiz \a I'm a Theme Dev \a my teacher is {NFLD99}  \a Knowledge is Power"
}

[nfldincpopoutuser="322808739096690691"],
[nfldincmodaluser="322808739096690691"],
[nfldincfrienduser="322808739096690691"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/Shiz.jpg) 50% 50%/cover !important
}

[nfldincpopoutuser="322808739096690691"] *,
[nfldincmodaluser="322808739096690691"] *,
[nfldincfrienduser="322808739096690691"] * {
	color: pink !important;
	border-color: pink !important
}