/* Sleepy#8828 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="335660322658582540"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="335660322658582540"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="335660322658582540"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="335660322658582540"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="335660322658582540"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="335660322658582540"]::after {
	content:  " "Hey I'm sleepy \a usually I'm sleeping but if not I'm probably running it down on league \"feel free to join or watch if I'm streaming"\"""
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="335660322658582540"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="335660322658582540"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* Sleepy#8828 */
