/* Spin!#1969 */
.NFLDIncChatUser[nfldincchatuser="311480381046128641"]::before,
[nfldincmemberuser="311480381046128641"]::before,
[nfldincchanneluser="311480381046128641"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="311480381046128641"]::after,
[nfldincmemberuser="311480381046128641"]::after,
[nfldincchanneluser="311480381046128641"]::after {
	content: "Hey I'm Spin! \a I havnt setup my donator perks yet!"
}

[nfldincpopoutuser="311480381046128641"],
[nfldincmodaluser="311480381046128641"],
[nfldincfrienduser="311480381046128641"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="311480381046128641"] *,
[nfldincmodaluser="311480381046128641"] *,
[nfldincfrienduser="311480381046128641"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}