/* square#3880 */
.NFLDIncChatUser[nfldincchatuser="219363409097916416"]::before,
[nfldincmemberuser="219363409097916416"]::before,
[nfldincchanneluser="219363409097916416"]::before {
	content: url(https://nfld99.com/Boops/square.png)
}

.NFLDIncChatUser[nfldincchatuser="219363409097916416"]::after,
[nfldincmemberuser="219363409097916416"]::after,
[nfldincchanneluser="219363409097916416"]::after {
	content: "Hello Im Square! \a I Am A Plugin/Theme Dev. \a I Also Love Squares."
}

[nfldincpopoutuser="219363409097916416"],
[nfldincmodaluser="219363409097916416"],
[nfldincfrienduser="219363409097916416"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="219363409097916416"] *,
[nfldincmodaluser="219363409097916416"] *,
[nfldincfrienduser="219363409097916416"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}