/* square#3880 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="219363409097916416"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="219363409097916416"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="219363409097916416"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/square.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="219363409097916416"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="219363409097916416"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="219363409097916416"]::after {
	content: "Hello Im Square! \a I Am A Plugin/Theme Dev. \a I Also Love Squares."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="219363409097916416"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="219363409097916416"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* square#3880 */