/* StratoBotElite#6264 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="456226577798135808"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="456226577798135808"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="456226577798135808"]::before {
	content: url(https://nfld99.com/Boops/Strato.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="456226577798135808"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="456226577798135808"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="456226577798135808"]::after {
	content: "Thank you for supporting the \a bot and the themes! \a For more information about the \a bot, visit https://sbebot.com \a For more information about the \a themes, visit https://nfld99.com"
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="456226577798135808"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="456226577798135808"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* StratoBotElite#6264 */
