/* Theory#2449 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="192507720199307265"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="192507720199307265"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="192507720199307265"]::before {
	content: url(https://nfld99.com/Boops/Theory.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="192507720199307265"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="192507720199307265"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="192507720199307265"]::after {
	content: "Future Author,\a Imperialist,\a and Dr. Pepper Addict."
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="192507720199307265"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/Theory.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="192507720199307265"] * {
	color: red !important;
	border-color: red !important
}
/* Theory#2449 */