/* Theory#2449 */
.NFLDIncChatUser[nfldincchatuser="192507720199307265"]::before,
[nfldincmemberuser="192507720199307265"]::before,
[nfldincchanneluser="192507720199307265"]::before {
	content: url(https://nfld99.com/Boops/Theory.png)
}

.NFLDIncChatUser[nfldincchatuser="192507720199307265"]::after,
[nfldincmemberuser="192507720199307265"]::after,
[nfldincchanneluser="192507720199307265"]::after {
	content: "Future Author,\a Imperialist,\a and Dr. Pepper Addict."
}

[nfldincpopoutuser="192507720199307265"],
[nfldincmodaluser="192507720199307265"],
[nfldincfrienduser="192507720199307265"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/Theory.png) 50% 50%/cover !important
}

[nfldincpopoutuser="192507720199307265"] *,
[nfldincmodaluser="192507720199307265"] *,
[nfldincfrienduser="192507720199307265"] * {
	color: red !important;
	border-color: red !important
}