/* Tsuki Humura#0008 */
.NFLDIncChatUser[nfldincchatuser="302837596600664065"]::before,
[nfldincmemberuser="302837596600664065"]::before,
[nfldincchanneluser="302837596600664065"]::before {
	content: url(https://nfld99.com/Boops/ChaChing.png)
}

.NFLDIncChatUser[nfldincchatuser="302837596600664065"]::after,
[nfldincmemberuser="302837596600664065"]::after,
[nfldincchanneluser="302837596600664065"]::after {
  content: "Hello I'm Tsuki \a discord bot developer.";
}

[nfldincpopoutuser="302837596600664065"],
[nfldincmodaluser="302837596600664065"],
[nfldincfrienduser="302837596600664065"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="302837596600664065"] *,
[nfldincmodaluser="302837596600664065"] *,
[nfldincfrienduser="302837596600664065"] * {
  color: #A833FF!important;
  border-color: #A833FF!important;
}