/* TwinShadow#5717 */

.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="276212376104337409"]::before,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="276212376104337409"]::before,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="276212376104337409"]::before {
	content: url(https://rabbisalt4.github.io/Testing-Discord/Boops/TwinShadow.png)
}
.clickable-1JJAn8 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="276212376104337409"]::after,
.selected-aXhQR6 .layout-2DM8Md>.NFLDIncChatUser[nfldincchatuser="276212376104337409"]::after,
.contents-2mQqc9>.NFLDIncChatUser[NFLDIncChatUser="276212376104337409"]::after {
	content: "Just an anime lover and encoder. \a Just stay away from my foxgirls, mk?"
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="276212376104337409"] > div {
	background: url(https://rabbisalt4.github.io/Testing-Discord/Boops/PopoutBackgrounds/TwinShadow.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="276212376104337409"] * {
	color: red !important;
	border-color: red !important
}
/* TwinShadow#5717 */