/* uri#0002 */
.NFLDIncChatUser[nfldincchatuser="148059412165033984"]::before,
[nfldincmemberuser="148059412165033984"]::before,
[nfldincchanneluser="148059412165033984"]::before {
	content: url(https://nfld99.com/Boops/uri.png)
}

.NFLDIncChatUser[nfldincchatuser="148059412165033984"]::after,
[nfldincmemberuser="148059412165033984"]::after,
[nfldincchanneluser="148059412165033984"]::after {
	content: "Hello Im Uri! \a Be a slut. \a Be whatever you want!";
}

[nfldincpopoutuser="148059412165033984"],
[nfldincmodaluser="148059412165033984"],
[nfldincfrienduser="148059412165033984"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="148059412165033984"] *,
[nfldincmodaluser="148059412165033984"] *,
[nfldincfrienduser="148059412165033984"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}