/* uri#0002 */
.NFLDIncChatUser[nfldincchatuser="249746236008169473"]::before,
[nfldincmemberuser="249746236008169473"]::before,
[nfldincchanneluser="249746236008169473"]::before {
	content: url(https://nfld99.com/Boops/uri.png)
}

.NFLDIncChatUser[nfldincchatuser="249746236008169473"]::after,
[nfldincmemberuser="249746236008169473"]::after,
[nfldincchanneluser="249746236008169473"]::after {
	content: "Hello Im Uri! \a Be a slut. \a Be whatever you want!";
}

[nfldincpopoutuser="249746236008169473"],
[nfldincmodaluser="249746236008169473"],
[nfldincfrienduser="249746236008169473"] {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}

[nfldincpopoutuser="249746236008169473"] *,
[nfldincmodaluser="249746236008169473"] *,
[nfldincfrienduser="249746236008169473"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}