/* Zerebos#7790 */
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="249746236008169473"] > div {
	background: url(https://nfld99.com/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover !important
}
.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="249746236008169473"] * {
	color: rgb(0, 172, 234) !important;
	border-color: rgb(0, 172, 234) !important
}
/* Zerebos#7790 */