/* Invites */
[class="wrapper_d5f3cd userSelectNone_c16c2b cursorDefault__92b08"] {
	min-width: 10px !important;
	max-width: 432px !important;
	width: 2%;
	transition: all .5s;
	opacity: .2;
	overflow: hidden;
}

[class="wrapper_d5f3cd userSelectNone_c16c2b cursorDefault__92b08"]:hover {
	width: 432px;
	transition: all .6s;
	opacity: 1;
}