    .cozy-3raOZG .contents-2mQqc9{
    background: var(--Secondary-Background-Colour);
    border: 1px solid var(--Main-Colour);
    margin-Top: 0px;
    margin-right: 0px;
    margin-left: -45px;
    padding-top: 1px;
    padding-bottom: 12px;
    border-radius: 25px;
}
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx{
    top:-20px;
    left:20px;
}
.avatar-1BDn8e.clickable-1bVtEA{
    Margin-top:-11px;
    left: 8px;
} 
.groupStart-23k01U {
    box-shadow: none;
}
.timestampCompact-29LLPQ{
    top: -5px;
  left: 45px;
}
.isHeader-2dII4U{
    margin-right: 55px;
    margin-top:-3px;
}
.messageContent-2qWWxC{
    text-align: left;
    text-indent: 22px;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
}
.timestamp-3ZCmNB.latin24CompactTimeStamp-2V7XIQ{
    top: 20px;
    margin-left: 28px;
}
